<div class="profile-wrapper">
  <div class="profile-page">
    <div class="profile-header">
      <div class="profile-info">
        <div class="avatar">

        </div>
        <div class="info-content">
          <div class="info-name"><h2>Đoàn Hữu Thành</h2></div>
          <div class="info-mail">
            <i nz-icon nzType="mail" nzTheme="outline"></i>
            <span>huuthanh1308@gmail.com</span>
          </div>
          <div class="info-real-time">
            <i nz-icon nzType="clock-circle" nzTheme="outline"></i>
            <span>00:00:00</span>
          </div>
        </div>
      </div>
      <div class="profile-edit">

      </div>
    </div>
    <div class="profile-content">

    </div>
  </div>
</div>
