<div class="wrapper-board-view">
  <div
    cdkDropList
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="dropGroup($event)"
    style="display: flex"
  >
    <div cdkDropListGroup class="d-flex">
      <div
        class="example-container"
        *ngFor="let list of sectionList; let idx = index"
        cdkDrag
        [cdkDragDisabled]="canDrop()"
      >
        <div
          class="task p-3 d-flex align-items-center"
          style="border-bottom: 1px solid #c9cbcf"
        >
          <h2
            style="font-size: 1.2rem; width: 100%; cursor: pointer"
            class="editable-cell"
            [hidden]="editIdx === idx"
            (click)="startEdit(idx)"
          >
            {{ list.name }}
          </h2>
          <input
            [hidden]="editIdx !== idx"
            type="text"
            nz-input
            nzAutoFocus
            [value]="list.name"
            (keyup.enter)="editSection(list.id, idx)"
            (blur)="editSection(list.id, idx)"
            style="padding-left: 8px"
            class="sectionName"
          />
          <div class="boardBtn d-flex">
            <button
              class="newTaskBtn py-2 px-3"
              nz-dropdown
              nzTrigger="click"
              [nzDropdownMenu]="menu"
            >
              <i nz-icon nzType="ellipsis" nzTheme="outline"></i>
            </button>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item (click)="startEdit(idx)">Rename Section</li>
                <li nz-menu-item nzDanger (click)="deleteSection(list.id)">
                  Delete Section
                </li>
              </ul>
            </nz-dropdown-menu>
            <!-- <button class="newTaskBtn" (click)="addToDo()">
              <i nz-icon nzType="plus" nzTheme="outline"></i>
            </button> -->
          </div>
        </div>

        <div
          cdkDropList
          [cdkDropListData]="taskList"
          class="example-list"
          (cdkDropListDropped)="drop($event)"
        >
          <div
            class="example-box"
            *ngFor="let item of taskList; let idx = index"
            cdkDrag
            [cdkDragDisabled]="isEdit"
          >
            <div
              (click)="onUpdate(item)"
              placeholder="Untitled"
              style="
                width: 100%;
                white-space: pre-wrap;
                word-break: break-word;
                line-height: 1.5;
              "
            >
              {{ item.name }}
            </div>
            <div class="boardBtn fixBtn d-flex">
              <button class="itemBtn editBtn" (click)="onView(item)">
                <i nz-icon nzType="eye" nzTheme="outline"> </i>
              </button>
              <button class="itemBtn" (click)="onDelete(item.id)">
                <i nz-icon nzType="delete" nzTheme="outline"></i>
              </button>
            </div>
          </div>
          <div
            class="example-box"
            role="button"
            (click)="onCreate()"
            style="color: rgba(55, 53, 47, 0.8)"
          >
            + Add Task
          </div>
        </div>
      </div>
    </div>

    <div class="add-section-wrapper">
      <div class="add-section" (click)="startCreate()" [hidden]="addSection === 1">
        <span class="ml-2 mr-1" style="font-size: 20px" nz-icon nzType="plus" nzTheme="outline"></span>
        <span>Add Section</span>
      </div>
      <input
        (keyup.enter)="createSection()"
        (blur)="createSection()"
        id="input-add-section"
        nz-input
        type="text"
        nzAutoFocus
        [hidden]="addSection !== 1"
      />
    </div>
  </div>
</div>
