<div class="wrapper">
  <div class="modal-content">
    <form
      nz-form
      style="width: 100%"
      [formGroup]="formValidation"
      method="POST"
    >
      <!-- row 1 -->
      <div nz-row class="d-flex flex-row" [nzGutter]="8">
        <div nz-col [nzSpan]="24">
          <nz-form-item nz-row [nzGutter]="2">
            <nz-form-label nz-col [nzSpan]="3">
              Tên Nhóm <span style="color: red">*</span>
            </nz-form-label>
            <nz-form-control nz-col [nzSpan]="21" [nzErrorTip]="Name">
              <input
                nz-input
                placeholder="Tên Nhóm"
                formControlName="teamName"
                name="teamName"
                [readonly]="mode === 'view'"
                [ngClass]="mode === 'view' ? 'ban' : ''"
                required
              />
              <ng-template #Name let-control>
                <ng-container *ngIf="control.hasError('minlength')"
                  >Tên cần tối thiểu 5 ký tự</ng-container
                >
                <ng-container *ngIf="control.hasError('required')"
                  >Mục này không được để trống</ng-container
                >
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <!-- row 2 -->

      <div nz-row class="d-flex flex-row" [nzGutter]="8">
        <div nz-col [nzSpan]="24">
          <nz-form-item nz-row [nzGutter]="2">
            <nz-form-label [nzSpan]="3"> Miêu tả </nz-form-label>
            <nz-form-control [nzSpan]="21">
              <textarea
                nz-input
                rows="3"
                Placeholder="Description"
                formControlName="description"
                name="description"
                [readonly]="mode === 'view'"
                [ngClass]="mode === 'view' ? 'ban' : ''"
              ></textarea>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

    </form>
  </div>
</div>

<div class="d-flex justify-content-center" *nzModalFooter>
  <button
    [hidden]="mode === 'view'"
    nz-button
    nzType="primary"
    [disabled]="!formValidation.valid"
    (click)="handleOk()"
    [nzLoading]="isConfirmLoading"
  >
    Lưu
  </button>
  <button nz-button nzType="default" (click)="handleCancel()">Hủy</button>
</div>
