<div class="d-flex" style="justify-content: space-between;" *nzModalTitle>
  <span>Quản lý tag công việc</span>
  <span (click)="close()" style="cursor: pointer;" nz-icon nzType="close" nzTheme="outline"></span>
</div>
<div class="tag-wrapper">
  <div class="d-flex flex-row">
    <button nz-button (click)="startAddTag()">+</button>

    <div class="d-flex w-100" [hidden]="isAdd === 1">
      <ngx-colors
        class="mr-2 ml-4"
        ngx-colors-trigger
        [(ngModel)]="color"
        [palette]="colorCustom"
      ></ngx-colors>
      <input
        id="input-add-tag"
        style="width: 60%"
        type="text"
        nz-input
        (keyup.enter)="createTag()"
      />
    </div>
  </div>
  <nz-card class="my-4">
    <div
      *ngFor="let item of listTag; index as idx"
      nz-card-grid
      [ngStyle]="gridStyle"
      nz-tooltip
      [nzTooltipTitle]="item.name"
      [nzTooltipPlacement]="idx < listTag.length - 4 ? 'top' : 'bottom'"
      class="grid-wrapper"
      (click)="chooseTag(item.id)"
    >
      <i
        nz-popconfirm
        (click)="$event.stopPropagation()"
        nzPopconfirmTitle="Xóa Tag?"
        nzPopconfirmPlacement="bottom"
        (nzOnConfirm)="deleteTag(item.id)"
        class="delete-grid-item"
        nz-icon
        nzType="close"
        nzTheme="outline"
      ></i>
      <div class="grid-item">
        <div
          [style.background]="item.color"
          class="grid-circle"
        ></div>
        <div class="mt-3">
          {{
            item.name.length > 5
              ? (item.name | slice : 0 : 5) + "..."
              : item.name
          }}
        </div>
      </div>
    </div>
  </nz-card>
</div>
