<div class="home-wrapper">
  <div class="container">
    <div class="row">
      <div class="header d-flex flex-column w-100">
        <h3 class="mt-5 mb-3">Trang chủ</h3>
        <div class="main-header d-flex flex-column align-items-center">
          <div class="date-time">
            <!-- {{ now | date : "'Ngày' dd 'tháng' MM 'năm' yyyy 'Giờ' hh:mm:ss" }} -->
          </div>
          <span class="my-2">Xin chào, Thành</span>
          <div class="widget w-100 my-4">
            <div class="row">
              <div class="col-4"></div>
              <div class="col-4 widget-content">
                <div class="left-content">
                  <i nz-icon nzType="check" nzTheme="outline"></i>
                  <span> <strong>0</strong> công việc hoàn thành</span>
                </div>
                <div class="divider"></div>
                <div class="right-content">
                  <i nz-icon nzType="team" nzTheme="outline"></i>
                  <span> <strong>0</strong> thành viên</span>
                </div>
              </div>
              <div class="col-4"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="body w-100 p-2">
        <div class="row">
          <div class="col-lg-6 col-sm-12 body-content-wrapper">
            <div class="body-content">
              <span style="font-size: 20px; line-height: 28px"
                >Dự án ({{ totalProject }})</span
              >
              <div class="row" style="padding: 12px 24px 8px">
                <!-- <div class="content col-lg-6" id="project-create">
                  <div
                    class="icon d-flex justify-content-center align-items-center"
                    style="border: 1px dashed black"
                  >
                    <i
                      nz-icon
                      nzType="plus"
                      nzTheme="outline"
                      style="font-size: 24px"
                    ></i>
                  </div>
                  <div class="title ml-2">
                    <span>Thêm mới</span>
                  </div>
                </div> -->
                <div
                  class="content col-lg-6"
                  *ngFor="let item of listData; let idx = index"
                >
                  <div
                    class="icon d-flex justify-content-center align-items-center"
                    style="cursor: pointer"
                    [routerLink]="['/pages/task/project-task', item.id]"
                  >
                    <i
                      nz-icon
                      nzType="unordered-list"
                      nzTheme="outline"
                      style="font-size: 24px"
                    ></i>
                  </div>
                  <a
                    class="title ml-2 p-1"
                    style="cursor: pointer"
                    [routerLink]="['/pages/task/project-task', item.id]"
                  >
                    <span
                      nz-tooltip
                      [nzTooltipTitle]="item.name"
                      [nzTooltipTrigger]="item.name.length > 5 ? 'hover' : null"
                      >{{
                        item.name.length > 5
                          ? (item.name | slice : 0 : 5) + "..."
                          : item.name
                      }}</span
                    >
                  </a>
                </div>
              </div>
              <div class="button-show">
                <button
                  nz-button
                  class="show-more"
                  (click)="showAllProject()"
                  [hidden]="isProjectHidden"
                >
                  Mở rộng
                </button>
              </div>
            </div>
          </div>

          <!-- <div class="col-lg-6 col-sm-12 body-content-wrapper">
            <div class="body-content">
              <span style="font-size: 20px; line-height: 28px">Thành viên</span>
              <div class="row" style="padding: 12px 24px 8px">
                <div
                  class="content col-lg-6"
                  *ngFor="let item of listMember; let idx = index"
                >
                  <div
                    class="icon d-flex justify-content-center align-items-center"
                    [routerLink]="['welcome', item.id]"
                  >
                    <i
                      nz-icon
                      nzType="unordered-list"
                      nzTheme="outline"
                      style="font-size: 24px"
                    ></i>
                  </div>
                  <div class="title ml-2" [routerLink]="['welcome', item.id]">
                    <span>{{ item.name }}</span>
                  </div>
                </div>
              </div>
              <div class="button-show">
                <button
                  nz-button
                  class="show-more"
                  (click)="showAllMember()"
                  [hidden]="isMemberHidden"
                >
                  Mở rộng
                </button>
              </div>
            </div>
          </div> -->

          <div class="col-lg-6 col-sm-12 body-content-wrapper">
            <div class="body-content">
              <span style="font-size: 20px; line-height: 28px"
                >Công việc của tôi ({{ totalTask }})</span
              >
              <div class="row" style="padding: 12px 24px 8px">
                <div
                  class="content col-lg-6"
                  *ngFor="let item of listTasks; let idx = index"
                >
                  <div
                    class="icon d-flex justify-content-center align-items-center"
                    [routerLink]="['welcome', item.id]"
                  >
                    <i
                      nz-icon
                      nzType="unordered-list"
                      nzTheme="outline"
                      style="font-size: 24px"
                    ></i>
                  </div>
                  <div
                    class="title ml-2 p-1"
                    [routerLink]="['welcome', item.id]"
                  >
                    <span
                      nz-tooltip
                      [nzTooltipTitle]="item.name"
                      [nzTooltipTrigger]="item.name.length > 5 ? 'hover' : null"
                      >{{
                        item.name.length > 5
                          ? (item.name | slice : 0 : 5) + "..."
                          : item.name
                      }}</span
                    >
                  </div>
                </div>
              </div>
              <div class="button-show">
                <button
                  nz-button
                  class="show-more"
                  (click)="showAllTask()"
                  [hidden]="isTaskHidden"
                >
                  Mở rộng
                </button>
              </div>
            </div>
          </div>

          <!-- <div class="col-lg-6 col-sm-12 body-content-wrapper">
            <div class="body-content">
              <span style="font-size: 20px; line-height: 28px">Văn bản riêng tư</span>
              <div class="row" style="padding: 12px 24px 8px">
                <div class="content col-lg-6" id="project-create">
                  <div
                    class="icon d-flex justify-content-center align-items-center"
                    style="border: 1px dashed black"
                  >
                    <i
                      nz-icon
                      nzType="plus"
                      nzTheme="outline"
                      style="font-size: 24px"
                    ></i>
                  </div>
                  <div class="title ml-2">
                    <span>Thêm mới</span>
                  </div>
                </div>
                <div
                  class="content col-lg-6"
                  *ngFor="let item of listData; let idx = index"
                >
                  <div
                    class="icon d-flex justify-content-center align-items-center"
                    [routerLink]="['welcome', item.id]"
                  >
                    <i
                      nz-icon
                      nzType="unordered-list"
                      nzTheme="outline"
                      style="font-size: 24px"
                    ></i>
                  </div>
                  <div class="title ml-2" [routerLink]="['welcome', item.id]">
                    <span>{{ item.name }}</span>
                  </div>
                </div>
              </div>
              <div class="button-show">
                <button
                  nz-button
                  class="show-more"
                  (click)="showAllProject()"
                  [hidden]="isHidden"
                >
                  Mở rộng
                </button>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
