::ng-deep {
  .modal-header,
  .modal-content,
  .modal-footer-custom {
    border: none !important;
  }

  .modal-footer-custom {
    display: flex;
    justify-content: center;
  }

  .modal-custom {
    min-width: 100% !important;
    // min-height: 120% !important;
    // width: 100% !important;
    display: flex;
    flex-direction: column;


  }

  .task-detail-name {
    font-weight: bold;
    font-size: 2em;
  }

  .task-detail-subtask {
    overflow-y: auto !important;
    overflow-x: hidden !important;
  }
}
