<div class="modal-header">
    <div class="col-6 p-2">
        <button nz-button class="float-left" nzType="default" (click)="markCompleteTask()">
            <span nz-icon nzType="check" nzTheme="outline"></span>
            <ng-container *ngIf="isCompleted">
                Hoàn thành
            </ng-container>
            <ng-container *ngIf="!isCompleted">
                Chưa hoàn thành
            </ng-container>
        </button>
    </div>
    <div class="col-6 p-2">
        <div class="d-flex flex-row float-right">
            <button nz-button class="mr-2" nzType="default" (click)="uploadFile()">
                <span nz-icon nzType="file-add" nzTheme="outline"></span>
            </button>
            <button nz-button class="mr-2" nzType="default" (click)="addSubTask()">
                <span nz-icon nzType="subnode" nzTheme="outline"></span>
            </button>
            <button nz-button nzType="default" (click)="close()">
                <span nz-icon nzType="close" nzTheme="outline"></span>
            </button>
        </div>
    </div>
</div>
<div class="modal-content" [formGroup]="formValidation">
    <!-- row 1 -->
    <div nz-row>
        <div nz-col [nzSpan]="12">
            <div nz-row [nzGutter]="1">
                <div nz-col [nzSpan]="24">
                    <nz-form-item nz-row [nzGutter]="1">
                        <nz-form-control [nzSpan]="24">
                            <input class="task-detail-name" (mouseover)="mouseOver($event)"
                                (mouseleave)="mouseLeave($event)" [ngClass]="!isShow ? 'input_disabled' : ''" nz-input
                                formControlName="name" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <!-- end row 1 -->

            <!-- row 2 -->
            <div nz-row [nzGutter]="1">
                <div nz-col [nzSpan]="12">
                    <nz-form-item nz-row [nzGutter]="1">
                        <nz-form-label [nzSpan]="6">
                            Phụ trách
                        </nz-form-label>
                        <nz-form-control [nzSpan]="18">
                            <input nz-input class="input_disabled" name="assignee" disabled />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzSpan]="12">
                    <nz-form-item nz-row [nzGutter]="1">
                        <nz-form-label [nzSpan]="6">
                            Thời hạn
                        </nz-form-label>
                        <nz-form-control [nzSpan]="18">
                            <nz-date-picker (nzOnOpenChange)="onOpenChange($event)"
                                formControlName="endDate"></nz-date-picker>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <!-- end row 2 -->


            <!-- row 4 -->
            <div nz-row [nzGutter]="1">
                <div nz-col [nzSpan]="24">
                    <nz-form-item nz-row [nzGutter]="1">
                        <nz-form-label [nzSpan]="3">
                            Dự án
                        </nz-form-label>
                        <nz-form-control [nzSpan]="21">
                            <nz-select nzShowSearch nzAllowClear formControlName="projectId"
                                nzPlaceHolder="Lựa chọn dự án">
                                <nz-option nzLabel="Dự án A" nzValue="1"></nz-option>
                                <nz-option nzLabel="Dự án B" nzValue="2"></nz-option>
                                <nz-option nzLabel="Dự án C" nzValue="3"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <!-- end row 4 -->

            <!-- row 5 -->
            <div nz-row [nzGutter]="1">
                <div nz-col [nzSpan]="12">
                    <nz-form-item nz-row [nzGutter]="1">
                        <nz-form-label [nzSpan]="6">
                            Mô tả
                        </nz-form-label>
                        <nz-form-control [nzSpan]="18">
                            <textarea nz-input rows="3" placeholder="Mô tả" formControlName="description"
                                name="description"></textarea>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzSpan]="12">
                    <nz-form-item nz-row [nzGutter]="1">
                        <nz-form-label [nzSpan]="6">
                            Ghi chú
                        </nz-form-label>
                        <nz-form-control [nzSpan]="18">
                            <textarea nz-input rows="3" placeholder="Ghi chú" formControlName="note"
                                name="note"></textarea>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <!-- end row 5 -->

            <!-- row 7 -->
            <div nz-row [nzGutter]="1">
                <div nz-col [nzSpan]="12">
                    <nz-form-item nz-row [nzGutter]="1">
                        <nz-form-label [nzSpan]="6">
                            Vướng mắc
                        </nz-form-label>
                        <nz-form-control [nzSpan]="18">
                            <textarea nz-input rows="3" placeholder="Vướng mắc" formControlName="problem"
                                name="problem"></textarea>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzSpan]="12">
                    <nz-form-item nz-row [nzGutter]="1">
                        <nz-form-label [nzSpan]="6">
                            Giải pháp
                        </nz-form-label>
                        <nz-form-control [nzSpan]="18">
                            <textarea nz-input rows="3" placeholder="Giải pháp" formControlName="solution"
                                name="solution"></textarea>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <!-- end row 7 -->

        </div>

        <div nz-col [nzSpan]="12">
            <div nz-row [nzGutter]="1">
                <div nz-col [nzSpan]="24" class="task-detail-subtask">
                    <div class="ml-2">
                        <app-task-detail-table #taskDetailTable [isDialog]="false"
                            [idTask]="idTask"></app-task-detail-table>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<div class="modal-footer-custom" *nzModalFooter>
    <button nz-button class="mr-2" nzType="primary" (click)="save()">
        Lưu
    </button>
    <button nz-button nzType="default" (click)="close()">
        Thoát
    </button>
</div>
