<div class="container">
  <div class="row">
    <div class="tool" style="width: 100%; margin-top: 1.5em">
      <button nz-button (click)="onCreate()">Add New Project</button>
      <button
        nz-button
        nzDanger
        style="margin-left: 10px"
        (click)="onDeleteAll(listId)"
      >
        Delete Selected
      </button>
      <button
        nz-button
        nz-dropdown
        nzTrigger="click"
        [nzDropdownMenu]="menu"
        class="d-flex align-items-center ml-auto mr-2"
      >
        <i nz-icon nzType="sort-ascending" nzTheme="outline"></i>
      </button>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul
          nz-menu
          nzSelectable
          *ngFor="let item of searchField; let idx = index"
        >
          <li nz-menu-item (click)="getFilterValue(idx)">
            {{ item }}
          </li>
        </ul>
      </nz-dropdown-menu>
      <button
        nz-button
        nz-dropdown
        nzTrigger="click"
        [nzDropdownMenu]="menu"
        class="d-flex align-items-center mr-2"
      >
        <i nz-icon nzType="filter" nzTheme="outline"></i>
      </button>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul
          nz-menu
          nzSelectable
          *ngFor="let item of searchField; let idx = index"
        >
          <li nz-menu-item (click)="getFilterValue(idx)">
            {{ item }}
          </li>
        </ul>
      </nz-dropdown-menu>
      <nz-input-group class="search" [nzSuffix]="suffixIconSearch">
        <input
          id="search"
          type="text"
          nz-input
          placeholder="input search text"
          (keyup.enter)="search()"
        />
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <span nz-icon nzType="search"></span>
      </ng-template>
    </div>
    <nz-table
      class="table"
      nzBordered
      nzShowPagination="false"
      [nzData]="listData"
      style="width: 100%; margin-top: 1.5em"
    >
      <thead>
        <tr>
          <th>
            <label
              nz-checkbox
              [ngModel]="checkedBoxAll"
              (ngModelChange)="checkedAll($event)"
            ></label>
          </th>
          <th>Id</th>
          <th>Name</th>
          <th>Revenue</th>
          <th>Created At</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listData; let idx = index">
          <td>
            <label
              nz-checkbox
              [ngModel]="item.isChecked"
              (ngModelChange)="isChecked($event, idx)"
            ></label>
          </td>
          <td>
            {{ item.id }}
          </td>
          <td>
            {{ item.name }}
          </td>
          <td>
            {{ item.revenue }}
          </td>
          <td>
            {{ item.createdDate | date: 'MM/dd/yyyy' }}
          </td>
          <td class="d-flex flex-row">
            <button
              nz-button
              nzShape="circle"
              class="d-flex align-items-center justify-content-center mr-1"
              [routerLink]="['welcome', item.id]"
            >
              <i nz-icon nzType="link" nzTheme="outline"></i>
            </button>
            <button
              nz-button
              nzShape="circle"
              class="d-flex align-items-center justify-content-center mr-1"
              (click)="onView(item)"
            >
              <i nz-icon nzType="eye" nzTheme="outline"></i>
            </button>
            <button
              nz-button
              nzShape="circle"
              class="d-flex align-items-center justify-content-center mr-1"
              (click)="onUpdate(item)"
            >
              <i nz-icon nzType="edit" nzTheme="outline"></i>
            </button>
            <button
              nz-button
              nzShape="circle"
              class="d-flex align-items-center justify-content-center mr-1"
              (click)="onDelete(item.id)"
            >
              <i nz-icon nzType="delete" nzTheme="outline"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <div class="paging">
      <nz-pagination
        (nzPageIndexChange)="changePageNumber($event)"
        (nzPageSizeChange)="changePageSize($event)"
        [(nzPageIndex)]="pageNumber"
        [nzTotal]="totalElements"
        nzShowSizeChanger
        [(nzPageSize)]="pageSize"
        [nzShowTotal]="total"
      >
      </nz-pagination>
      <ng-template #total let-total
        >Total Project: {{ totalElements }}</ng-template
      >
    </div>
  </div>
</div>
