<div class="tag-wrapper">
  <div class="modal-content">
    <form nz-form [formGroup]="formValidation" method="POST">
      <!-- row 1 -->
      <div nz-row class="d-flex flex-row" [nzGutter]="8">
        <div nz-col [nzSpan]="24">
          <nz-form-item nz-row [nzGutter]="2">
            <nz-form-label nz-col [nzSpan]="3"> Tên thẻ </nz-form-label>
            <nz-form-control nz-col [nzSpan]="18" nzErrorTip="Bắt buộc!">
              <input
                nz-input
                placeholder="Title"
                formControlName="name"
                name="name"
              />
            </nz-form-control>
            <nz-form-control nz-col [nzSpan]="3">
              <button nz-button (click)="createTag()">+</button>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>
    <div class="tag-list" *ngFor="let item of listData; let idx = index">
      <div class="tag-item">
        <label nz-checkbox class="checkbox"></label>
        <div class="editcell">
          <div
            class="tag-title ml-2"
            [hidden]="editIdx === idx"
            (click)="startEdit(idx)"
          >
            {{ item.name }}
          </div>
          <input
            [hidden]="editIdx !== idx"
            type="text"
            nz-input
            nzAutoFocus
            [(ngModel)]="item.name"
            (keyup.enter)="stopEdit()"
            (blur)="stopEdit()"
            style="padding-left: 8px"
          />
        </div>
        <button
          nz-button
          nzShape="circle"
          class="delete-btn d-flex align-items-center justify-content-center ml-1"
          (click)="onDelete(item.id)"
        >
          <i nz-icon nzType="delete" nzTheme="outline"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center" *nzModalFooter>
  <button
    nz-button
    nzType="primary"
    [disabled]="!formValidation.valid"
    [nzLoading]="isConfirmLoading"
  >
    Lưu
  </button>
  <button nz-button nzType="default" (click)="handleCancel()">Hủy</button>
</div>
