<nz-card class="table-subTask">
  <ng-container [ngTemplateOutlet]="treeNode" [ngTemplateOutletContext]="{ data: taskArray.value }">
  </ng-container>

  <ng-template #treeNode let-data="data" let-index="index">
    <nz-table class="table" nzTemplateMode>
      <thead>
        <tr>
          <th class="text-center"></th>
          <th class="text-center">Tên</th>
          <th class="text-center">Ngày bắt đầu</th>
          <th class="text-center">Ngày kết thúc</th>
          <th class="text-center">Trạng thái</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let node of data; index as idxSub">

          <tr>
            <td [nzExpand]="expandSet.has(node.id)" (nzExpandChange)="onExpandChange(node.id, $event, idxSub, node)">
            </td>
            <td class="text-center">
              <a (click)="subTaskInfo(node, idxSub)">
                {{node.name}}
              </a>
            </td>
            <td class="text-center">
              {{node.startDate | date : "dd/MM/yyyy" }}

            </td>
            <td class="text-center">
              {{node.endDate | date : "dd/MM/yyyy" }}

            </td>
            <td class="text-center">
              {{node.state | stateTask }}

            </td>
          </tr>

          <tr [nzExpand]="expandSet.has(node.id)">
            <ng-container *ngIf="node.taskArray && node.taskArray.length > 0">
              <ng-container [ngTemplateOutlet]="treeNode" [ngTemplateOutletContext]="{ data: node.taskArray }">
              </ng-container>
           </ng-container>
          </tr>
        </ng-container>
      </tbody>
    </nz-table>
  </ng-template>

</nz-card>