<ng-container *nzModalContent class="model-content">
    <div class="p-2">
        <div class="d-flex flex-row">
            <!-- table -->
            <div class="table-responsive" [formGroup]="formValidation">
                <table class="table">
                    <thead>
                        <th class="text-center col-7">Tên</th>
                        <th class="text-center col-5">Ngày kết thúc</th>
                        <th class="text-center col-5">Ngày bắt đầu</th>
                        <th class="text-center col-5">Ngày kết thúc</th>
                        <th class="text-center col-4">Trạng thái</th>
                    </thead>
                    <tbody cdkDropList (cdkDropListDropped)="onDrop($event)" formArrayName="subTask">
                        <tr *ngFor="let item of subTask.controls; index as idx" cdkDrag cdkDragLockAxis="y">
                            <ng-container [formGroupName]="idx">
                                <td class="align-items-center col-8">
                                    <div class="d-flex flex-row">
                                        <div class="col-8" (mouseover)="mouseOver(item, idx)"
                                            (mouseleave)="mouseLeave(item, idx)">
                                            <input type="text" appAutoFocus (keyup.enter)="addSubTask()"
                                                appClickOutsideAndUpdate
                                                [ngClass]="!(item.get('isShow')!.value) ? 'input_disabled' : ''" nz-input
                                                class="form-control" formControlName="name">
                                        </div>
                                    </div>
                                </td>
                                <td class="align-items-center col-5">
                                    <nz-date-picker class="form-control" formControlName="endDate"
                                        (nzOnOpenChange)="onOpenChange($event)"></nz-date-picker>
                                </td>
                                <td class="align-items-center col-5">
                                    <nz-date-picker class="form-control" formControlName="startDate"
                                        (nzOnOpenChange)="onOpenChange($event)"></nz-date-picker>
                                </td>
                                <td class="align-items-center col-5">
                                    <nz-date-picker class="form-control" formControlName="endDate"
                                        (nzOnOpenChange)="onOpenChange($event)"></nz-date-picker>
                                </td>
                                <td class="text-center align-items-center col-5">
                                    {{item.get('status')!.value}}
                                </td>
                            </ng-container>
    
                        </tr>
                        <tr class="task-table-button" (click)="addSubTask()">
                            <td colspan="4">
                                <div> Thêm Công việc...</div>
                            </td>
                        </tr>
                    </tbody>
    
                </table>
            </div>
            <!-- end table -->
    
        </div>
    </div>
</ng-container>
<div class="modal-footer-custom" *nzModalFooter>
    <button nz-button nzType="primary" [disabled]="!formValidation.valid" (click)="saveTask()">Lưu</button>
    <button nz-button nzType="default" (click)="close()">Hủy</button>
</div>