.task-detail-header {
  display: flex;
  flex-direction: row;
}

::ng-deep {
  .dropdown_menu a > span > svg {
    margin-bottom: 6px;
  }
}

.task-detail-content {
  display: flex;
  flex-direction: column;

  ::ng-deep .task-detail-subtask {
    overflow-y: auto !important;
    overflow-x: hidden !important;
  }
}
