$task_detail_width: 0% !default;
$task_detail_height: 500px !default;

:host {
  font-size: 12px;
  // overflow-y: hidden;
}

.table td,
.table th {
  padding: 0.3rem;
}

.task-header .float-right button {
  margin-right: 4px;
  //   text-align: center;
  //   display: inline-block;
}

::ng-deep {
  .task-header button span > svg {
    margin-bottom: 6px;
  }

  .dropdown_menu {
    margin-top: 10px;
  }

  tr[class*="task-table-button"]:hover {
    background-color: #d6d4d4;
    cursor: pointer;
  }

  tr[class*="task-table-button"] {
    div {
      padding-left: 12px;
    }
  }

  .task-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 620px;
    overflow-y: auto;
    overflow-x: hidden;
    // position: -webkit-sticky;
    // position: sticky;
    // align-self: flex-start; /* <-- this is the fix */
    // top: 0;
    // // z-index: 1; // any positive value, layer order is global
    // background-color: white;
  }

  .task-header-toggle {
    $task_detail_width: 50%;
    width: calc(100% - $task_detail_width) !important;
  }

  .task-table-left {
    width: 100%;
    // width: calc(100vw - $task_detail_width);
    // height: $task_detail_height;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }

  .header-test-fixed {
    position: -webkit-sticky;
    width: 100%;
    position: sticky;
    align-self: flex-start; /* <-- this is the fix */
    top: 0;
    z-index: 1; // any positive value, layer order is global
    background-color: white;
  }

  .table-responsive-custom-header {
    // width: 100%;
    // height: 0;

    position: -webkit-sticky; // this is for all Safari (Desktop & iOS), not for Chrome
    position: sticky;
    top: 48px;
    z-index: 1; // any positive value, layer order is global
    background: #fff; // any bg-color to overlap

    // table > thead > th {
    //   position: -webkit-sticky; // this is for all Safari (Desktop & iOS), not for Chrome
    //   position: sticky;
    //   top: 0;
    //   z-index: 1; // any positive value, layer order is global
    //   background: #fff; // any bg-color to overlap
    // }
  }

  .task-table-left-toggle {
    // $task_detail_width: 50vw;
    // width: calc(100vw - $task_detail_width) !important;
  }

  //  .table-responsive {
  //   width: calc(100vw - $task_detail_width);
  //   height: $task_detail_height;
  //   // table > thead > th {
  //   //   position: -webkit-sticky; // this is for all Safari (Desktop & iOS), not for Chrome
  //   //   position: sticky;
  //   //   top: 0;
  //   //   z-index: 1; // any positive value, layer order is global
  //   //   background: #fff; // any bg-color to overlap
  //   // }

  //   tbody > tr:hover {
  //     cursor: pointer;
  //   }

  //   tbody tr > td .check-circle-custom >span > svg {
  //     margin-top: 6px;
  //     font-size: 18px;
  //   }
  // }

  .task-detail {
    display: flex;
    flex-direction: column;
    width: $task_detail_width;
    // border-left: 1px solid #dee2e6;
    transition: all 0.5s ease-in-out;
  }

  .toggle-task-detail {
    $task_detail_width: 50%;
    // display: flex;
    // flex-direction: column;
    border-top: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
    border-top: 1px solid white;
    width: $task_detail_width !important;
    transition: all 0.5s ease-out;
  }

  app-task-detail {
    height: 620px;
    overflow-y: auto;
    overflow-x: hidden;
    // transition: all 0.5s ease-in-out;
  }
}

.item {
  cursor: move;
  border: 2px solid lightgrey;
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
}

.item > .sub-item {
  margin: 1rem;
}

/*** angular cdk-drop  ***/
.cdk-drop-list-dragging {
  border-bottom: 5px solid lightslategray;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
  box-sizing: border-box;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  border-radius: 10px;

  .item {
    margin: 0;
  }
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.sub-item:last-child {
  border: none;
}

.sub-item.cdk-drop-list-dragging .item:not(.cdk-drag-placeholder),
.item.cdk-drop-list-dragging .sub-item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

// .buttons {
//   display: none;
// }

// .app-task-row-table:hover .buttons {
//   display: flex;
//   justify-content: center;
//   position: absolute;
//   top: 20px;
//   right: 0;
//   width: 100px;
//   height: fit-content;

//   i {
//     font-size: 16px;
//   }
// }

// ::ng-deep .ant-tag svg {
//   margin-bottom: 5px;
// }

.sectionName {
  width: 80%;
  margin-left: 40px;
  height: 31px;
}
