<div class="modal-header">
    <div class="col-6 p-2">
        <button nz-button class="float-left" nzType="default" (click)="markCompleted()">
            <span nz-icon nzType="check" nzTheme="outline"></span>
            <ng-container *ngIf="isCompleted">
                Hoàn thành
            </ng-container>
            <ng-container *ngIf="!isCompleted">
                Chưa hoàn thành
            </ng-container>
        </button>
    </div>
    <div class="col-6 p-2">
        <div class="d-flex flex-row float-right">
            <button nz-button class="mr-2" nzType="default" (click)="uploadFile()">
                <span nz-icon nzType="file-add" nzTheme="outline"></span>
            </button>
            <button nz-button class="mr-2" nzType="default" (click)="addSubNode()">
                <span nz-icon nzType="subnode" nzTheme="outline"></span>
            </button>
            <button nz-button nzType="default" (click)="close()">
                <span nz-icon nzType="close" nzTheme="outline"></span>
            </button>
        </div>
    </div>
</div>
<div class="modal-content">

    <!-- row 1 -->
    <div nz-row [nzGutter]="8">
        <div nz-col [nzSpan]="24">
            <nz-form-item nz-row [nzGutter]="2">
                <nz-form-label [nzSpan]="24">
                    <h3>title</h3>
                </nz-form-label>
            </nz-form-item>
        </div>
    </div>
    <!-- end row 1 -->

    <!-- row 2 -->
    <div nz-row [nzGutter]="4">
        <div nz-col [nzSpan]="24">
            <nz-form-item nz-row [nzGutter]="2">
                <nz-form-label [nzSpan]="3">
                    Phụ trách
                </nz-form-label>
                <nz-form-control [nzSpan]="21">
                    <input nz-input class="input_disabled" placeholder="Mô tả" name="description" disabled />
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <!-- end row 2 -->

    <!-- row 3 -->
    <div nz-row [nzGutter]="4">
        <div nz-col [nzSpan]="24">
            <nz-form-item nz-row [nzGutter]="2">
                <nz-form-label [nzSpan]="3">
                    Thời hạn
                </nz-form-label>
                <nz-form-control [nzSpan]="21">
                    <nz-date-picker (nzOnOpenChange)="onOpenChange($event)"></nz-date-picker>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <!-- end row 3 -->

    <!-- row 2 -->
    <div nz-row [nzGutter]="4">
        <div nz-col [nzSpan]="24">
            <nz-form-item nz-row [nzGutter]="2">
                <nz-form-label [nzSpan]="3">
                    Dự án
                </nz-form-label>
                <nz-form-control [nzSpan]="21">
                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Lựa chọn dự án">
                        <nz-option nzLabel="Dự án A" nzValue="A"></nz-option>
                        <nz-option nzLabel="Dự án B" nzValue="B"></nz-option>
                        <nz-option nzLabel="Dự án C" nzValue="C"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <!-- end row 2 -->

    <!-- row 4 -->
    <div nz-row [nzGutter]="4">
        <div nz-col [nzSpan]="24">
            <nz-form-item nz-row [nzGutter]="2">
                <nz-form-label [nzSpan]="3">
                    Mô tả
                </nz-form-label>
                <nz-form-control [nzSpan]="21">
                    <textarea nz-input rows="3" placeholder="Mô tả" name="description"></textarea>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <!-- end row 4 -->

    <!-- row 5 -->
    <div nz-row [nzGutter]="4">
        <div nz-col [nzSpan]="24">
            <nz-form-item nz-row [nzGutter]="2">
                <nz-form-label [nzSpan]="3">
                    Ghi chú
                </nz-form-label>
                <nz-form-control [nzSpan]="21">
                    <textarea nz-input rows="3" placeholder="Ghi chú" name="description"></textarea>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <!-- end row 5 -->

    <!-- row 6 -->
    <div nz-row [nzGutter]="4">
        <div nz-col [nzSpan]="24">
            <nz-form-item nz-row [nzGutter]="2">
                <nz-form-label [nzSpan]="3">
                    Vướng mắc
                </nz-form-label>
                <nz-form-control [nzSpan]="21">
                    <textarea nz-input rows="3" placeholder="Vướng mắc" name="description"></textarea>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <!-- end row 6 -->

    <!-- row 7 -->
    <div nz-row [nzGutter]="4">
        <div nz-col [nzSpan]="24">
            <nz-form-item nz-row [nzGutter]="2">
                <nz-form-label [nzSpan]="3">
                    Giải pháp
                </nz-form-label>
                <nz-form-control [nzSpan]="21">
                    <textarea nz-input rows="3" placeholder="Giải pháp" name="description"></textarea>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <!-- end row 7 -->

</div>
<div class="modal-footer-custom" *nzModalFooter>
    <button nz-button class="mr-2" nzType="default" (click)="save()">
        Lưu
    </button>
    <button nz-button nzType="default" (click)="close()">
        Thoát
    </button>
</div>