<div class="wrapper-board-view">
  <div
    cdkDropList
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="dropGroup($event)"
    style="display: flex; flex-wrap: wrap"
  >
    <div cdkDropListGroup class="d-flex">
      <div
        class="example-container"
        *ngFor="let list of taskList; let idx = index"
        cdkDrag
        [cdkDragDisabled]="isEdit"
      >
        <!-- <div class="test" *cdkDragPlaceholder></div> -->
        <div
          class="task p-3 d-flex align-items-center"
          style="border-bottom: 1px solid #c9cbcf"
        >
          <h2 style="font-size: 1.2rem">{{ list.status }}</h2>
          <div class="boardBtn d-flex">
            <button
              class="newTaskBtn py-2 px-3"
              nz-dropdown
              nzTrigger="click"
              [nzDropdownMenu]="menu"
            >
              <i nz-icon nzType="ellipsis" nzTheme="outline"></i>
            </button>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item>Delete List</li>
                <li nz-menu-item>2nd menu item</li>
              </ul>
            </nz-dropdown-menu>
            <!-- <button class="newTaskBtn" (click)="addToDo()">
              <i nz-icon nzType="plus" nzTheme="outline"></i>
            </button> -->
          </div>
        </div>

        <div
          cdkDropList
          [cdkDropListData]="taskList"
          class="example-list"
          (cdkDropListDropped)="drop($event)"
        >
          <div
            class="example-box"
            *ngFor="let item of taskList; let idx = index"
            cdkDrag
            [cdkDragDisabled]="isEdit"
          >
            <div
              (click)="onUpdate(item)"
              placeholder="Untitled"
              style="
                width: 100%;
                white-space: pre-wrap;
                word-break: break-word;
                line-height: 1.5;
              "
            >
              {{ item.name }}
            </div>

            <div class="boardBtn fixBtn d-flex">
              <button class="itemBtn editBtn" (click)="onView(item)">
                <i nz-icon nzType="eye" nzTheme="outline"> </i>
              </button>
              <button class="itemBtn" (click)="onDelete(item.id)">
                <i nz-icon nzType="delete" nzTheme="outline"></i>
              </button>
            </div>
          </div>
          <!-- <ng-container *ngIf="addtodo ? true : false">
            <div class="example-box">
              <textarea
                contenteditable="true"
                nz-input
                type="text"
                id="inputToDo"
                (blur)="addToDoArray()"
                (keydown.enter)="onKeydown($event)"
                (keyup.enter)="addToDoArray()"
                rows="2"
                placeholder="Untitled"
                style="
                  width: 100%;
                  white-space: pre-wrap;
                  word-break: break-word;
                  line-height: 1.5;
                "
              ></textarea>
            </div>
          </ng-container> -->
          <div
            class="example-box"
            role="button"
            (click)="onCreate()"
            style="color: rgba(55, 53, 47, 0.8)"
          >
            + Add Task
          </div>
        </div>
      </div>
      <!-- <div class="addTaskBtn"></div> -->
    </div>
  </div>
</div>

<!-- <nz-modal
  [(nzVisible)]="isVisible"
  (nzOnCancel)="handleCancel()"
  nzTitle="Modal Title"
>
  <internal-app-board-task-form *nzModalContent></internal-app-board-task-form>
</nz-modal> -->
