@import "../../../../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../../../../node_modules/ng-zorro-antd/ng-zorro-antd.min.css";

// variables
$sidebar_width: 20% !default;
$header_height: 64px !default;
$breadcrumb_height: 46px !default;
$footer_height: 64px !default;

$table_col_0: 2.5% !default;
$table_col_1: 5% !default;
$table_col_2: 7.5% !default;
$table_col_3: 10% !default;
$table_col_4: 15% !default;
$table_col_5: 20% !default;
$table_col_6: 25% !default;
$table_col_7: 30% !default;

@function size($side, $isWidth) {
  @if ($isWidth == "true") {
    @return calc(100vw - $side);
  } @else {
    @return calc(100vh - $side);
  }
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
  // height: 100vh;
  // overflow-y: hidden;

  .page-wrapper {
    display: flex;
    // min-height: 100%;
    height: 100vh;
    width: 100%;

    .page-main {
      width: size($sidebar_width, "true");
      height: 100%;
      width: 100%;
      transition: all 0.5s;

      .page-breadcumb {
        height: $breadcrumb_height;

        .breadcrumb {
          background-color: transparent !important;

          a:hover {
            cursor: pointer;
          }
        }
      }

      .sidebar {
        width: $sidebar_width;
        // width: 0;
        min-height: 100%;
        display: flex;
        // background-color: #f1edea;
        background-color: #f48120;
        transition: all 0.5s ease-in-out;
      }

      internal-app-sidebar {
        // border-left-color: hsla(0, 0%, 100%, 0.16);
        box-shadow: 4px 1px 3px -3px rgba(0, 21, 41, 0.35);
        width: 100% !important;
      }

      .toggle-sidebar {
        $sidebar_width: 0%;
        transition: all 0.5s ease-in-out;
        width: $sidebar_width;
        overflow: hidden;

        .sidebar-content ul li a[class*="active"] {
          background-color: transparent !important;
        }
      }

      // tính lại %  page-main
      .toggle-sidebar + .page-main {
        $sidebar_width: 0%;
        width: size($sidebar_width, "true");
      }

      .page-header {
        height: $header_height;
        box-shadow: -4px 4px 3px -3px rgba(0, 21, 41, 0.35);
      }

      .page-footer {
        height: $footer_height;
      }

      .page-content {
        width: 100%;
        // toàn màn trừ header và footer, breadcrumb
        // height: calc(
        //   100vh - $header_height - $footer_height - $breadcrumb_height
        // );
        height: calc(100vh - $header_height);
        overflow-y: scroll;
      }
    }
  }
}

// 2.5%
.col-0 {
  width: $table_col_0;
}

// 5%
.col-1 {
  width: $table_col_1;
}

// 7.5%
.col-2 {
  width: $table_col_2;
}

// 10%
.col-3 {
  width: $table_col_3;
}

// 12.5%
.col-3-1 {
  width: $table_col_3 + $table_col_0;
}

// 15%
.col-4 {
  width: $table_col_4;
}

// 20%
.col-5 {
  width: $table_col_5;
}

// 25%
.col-6 {
  width: $table_col_6;
}

// 70%
.col-7 {
  width: $table_col_7;
}

// 40%
.col-8 {
  width: $table_col_7 + $table_col_3;
}

// 50%
.col-9 {
  width: $table_col_7 + $table_col_5;
}

// 55%
.col-10 {
  width: $table_col_7 + $table_col_5 + $table_col_1;
}

// 60%
.col-11 {
  width: $table_col_7*2 + $table_col_1;
}

// 70%
.col-12 {
  width: $table_col_7*2 + $table_col_3;
}

.input_disabled {
  border-color: white transparent;
}
