.task-export-wrapper {
  overflow-y: auto;
  height: 500px;
}

.item {
  cursor: move;
  border: 2px solid lightgrey;
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
}

.item > .sub-item {
  margin: 1rem;
}

/*** angular cdk-drop  ***/
.cdk-drop-list-dragging {
  border-bottom: 5px solid lightslategray;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
  box-sizing: border-box;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  border-radius: 10px;

  .item {
    margin: 0;
  }
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.sub-item:last-child {
  border: none;
}

.sub-item.cdk-drop-list-dragging .item:not(.cdk-drag-placeholder),
.item.cdk-drop-list-dragging .sub-item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


