<!-- <div class="sidebar-main"> -->
<div class="sidebar-wrapper">
  <div class="sidebar-header"></div>
  <!-- navigation -->
  <div class="sidebar-content">
    <!-- <div class="projectBtn" role="button" #toggleButton (click)="popUp()">
        <i nz-icon nzType="plus" nzTheme="outline"></i>
        <span class="ml-1">Create</span>
      </div> -->
    <button class="projectBtn" #toggleButton (click)="popUp()">Create</button>
    <div class="popup" #popupContent *ngIf="isHidden">
      <div class="popup-content">
        <div class="popup-content-wrapper" routerLink="project">
          <i nz-icon nzType="project" nzTheme="outline"></i>
          <span class="popup-content-title">Project</span>
        </div>
        <div class="popup-content-wrapper">
          <i nz-icon nzType="project" nzTheme="outline"></i>
          <span class="popup-content-title">Task</span>
        </div>
      </div>
    </div>
    <ul class="nav flex-column" id="navList">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink=""
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          ><i nz-icon nzType="home" nzTheme="outline"></i
          ><span class="ml-2">Home</span></a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="project"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          ><i nz-icon nzType="project" nzTheme="outline"></i
          ><span class="ml-2">Projects</span></a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="task"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          ><i nz-icon nzType="check-circle" nzTheme="outline"></i
          ><span class="ml-2">My Tasks</span></a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="#"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          ><i nz-icon nzType="reconciliation" nzTheme="outline"></i
          ><span class="ml-2">Reports</span></a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="permission"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          ><i nz-icon nzType="security-scan" nzTheme="outline"></i
          ><span class="ml-2">Permissions</span></a
        >
      </li>
      <li (click)="subMenu()">
        <a class="nav-link">
          <i nz-icon nzType="setting" nzTheme="outline"></i>
          <span class="ml-2">Settings</span>
          <i
            nz-icon
            nzType="down"
            nzTheme="outline"
            class="ml-auto mr-1"
            [hidden]="isOpen"
          ></i>
          <i
            nz-icon
            nzType="up"
            nzTheme="outline"
            class="ml-auto mr-1"
            [hidden]="!isOpen"
          ></i>
        </a>
        <ul
          style="list-style: none; width: 100%; padding: 0"
          *ngIf="isActive"
          (click)="subMenu()"
        >
          <li class="sub-nav-item">
            <a
              class="nav-link"
              routerLink="member"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <!-- <i nz-icon nzType="usergroup-add" nzTheme="outline"></i> -->
              <span class="ml-4">Members</span></a
            >
          </li>
          <li class="sub-nav-item">
            <a
              class="nav-link"
              routerLink="roles-app"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <!-- <i nz-icon nzType="key" nzTheme="outline"></i> -->
              <span class="ml-4">Roles</span></a
            >
          </li>
        </ul>
      </li>
      <!-- <li class="nav-item">
        <a
          class="nav-link"
          routerLink="member"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          ><i nz-icon nzType="usergroup-add" nzTheme="outline"></i
          ><span class="ml-2">Members</span></a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="roles-app"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          ><i nz-icon nzType="key" nzTheme="outline"></i
          ><span class="ml-2">Roles</span></a
        >
      </li> -->
    </ul>
  </div>
  <!-- </div> -->
</div>
