<!-- <div class="sidebar-main"> -->
<div class="sidebar-wrapper">
  <div class="sidebar-header"></div>
  <!-- navigation -->
  <div class="sidebar-content">

    <button class="projectBtn" (click)="onCreate()">Tạo dự án</button>

    <ul class="nav flex-column" id="navList">
      <!-- default -->
      <li class="nav-item">
        <a class="nav-link" routerLink="home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><i
            nz-icon nzType="home" nzTheme="outline"></i><span class="ml-2">Trang chủ</span></a>
      </li>
      <!-- end default -->
      <ng-container [ngTemplateOutlet]="treeNode" [ngTemplateOutletContext]="{ data: menuInfo }">

      </ng-container>

    </ul>
    <ng-template #treeNode let-data="data">
      <!-- <ul class="nav flex-column" id="navList" *ngFor="let item of data; let idx as index" > -->
      <li class="nav-item" *ngFor="let item of data">

        <ng-container *ngIf="item.children && item.children.length == 0 else tmpSubMenu">
          <a class="nav-link" [routerLink]="item.path" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">
            <i nz-icon [nzType]="item.type" nzTheme="outline"></i><span class="ml-2">{{item.title}}</span>
          </a>
        </ng-container>
        <ng-template #tmpSubMenu>
          <a class="nav-link" (click)="subMenu(item)">
            <i nz-icon [nzType]="item.type" nzTheme="outline"></i>
            <span class="ml-2">{{item.title}}</span>
            <i nz-icon nzType="down" nzTheme="outline" class="ml-auto mr-1" [hidden]="item.isOpen"></i>
            <i nz-icon nzType="up" nzTheme="outline" class="ml-auto mr-1" [hidden]="!item.isOpen"></i>
          </a>
          <ng-container *ngIf="item.children && item.children.length > 0">
            <ul class="sub-menu d-none">
              <ng-container [ngTemplateOutlet]="treeNode" [ngTemplateOutletContext]="{ data: item.children }">
              </ng-container>
            </ul>
          </ng-container>
        </ng-template>
       
      </li>


    </ng-template>
   
  </div>
</div>