<!-- <div class="sidebar-main"> -->
<div class="sidebar-wrapper">
  <div class="sidebar-header"></div>
  <!-- navigation -->
  <div class="sidebar-content">
    <!-- <div class="projectBtn" role="button" #toggleButton (click)="popUp()">
        <i nz-icon nzType="plus" nzTheme="outline"></i>
        <span class="ml-1">Create</span>
      </div> -->
    <button class="projectBtn" #toggleButton (click)="popUp()">Tạo mới</button>
    <div class="popup" #popupContent *ngIf="isHidden">
      <div class="popup-content">
        <div class="popup-content-wrapper" routerLink="pages/project">
          <i nz-icon nzType="project" nzTheme="outline"></i>
          <span class="popup-content-title">Dự án</span>
        </div>
        <div class="popup-content-wrapper">
          <i nz-icon nzType="project" nzTheme="outline"></i>
          <span class="popup-content-title">Công việc</span>
        </div>
      </div>
    </div>
    <ul class="nav flex-column" id="navList">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="pages/home"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          ><i nz-icon nzType="home" nzTheme="outline"></i
          ><span class="ml-2">Trang chủ</span></a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="pages/project"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          ><i nz-icon nzType="project" nzTheme="outline"></i
          ><span class="ml-2">Dự án</span></a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="pages/task"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          ><i nz-icon nzType="check-circle" nzTheme="outline"></i
          ><span class="ml-2">Công việc của tôi</span></a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="pages/report"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          ><i nz-icon nzType="reconciliation" nzTheme="outline"></i
          ><span class="ml-2">Báo cáo</span></a
        >
      </li>
      <!-- <li class="nav-item">
        <a
          class="nav-link"
          routerLink="permission"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          ><i nz-icon nzType="security-scan" nzTheme="outline"></i
          ><span class="ml-2">Permissions</span></a
        >
      </li> -->
      <li (click)="subMenu()">
        <a class="nav-link">
          <i nz-icon nzType="setting" nzTheme="outline"></i>
          <span class="ml-2">Thiết lập</span>
          <i
            nz-icon
            nzType="down"
            nzTheme="outline"
            class="ml-auto mr-1"
            [hidden]="isOpen"
          ></i>
          <i
            nz-icon
            nzType="up"
            nzTheme="outline"
            class="ml-auto mr-1"
            [hidden]="!isOpen"
          ></i>
        </a>
        <ul
          class="sub-menu d-none"
          (click)="subMenu()"
        >
          <li class="sub-nav-item">
            <a
              class="nav-link"
              routerLink="pages/member"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <!-- <i nz-icon nzType="usergroup-add" nzTheme="outline"></i> -->
              <span class="ml-4">Thành viên</span></a
            >
          </li>
          <li class="sub-nav-item">
            <a
              class="nav-link"
              routerLink="pages/roles-app"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <!-- <i nz-icon nzType="key" nzTheme="outline"></i> -->
              <span class="ml-4">Roles</span></a
            >
          </li>
          <li class="sub-nav-item">
            <a
              class="nav-link"
              routerLink="pages/permission"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <!-- <i nz-icon nzType="key" nzTheme="outline"></i> -->
              <span class="ml-4">Phân quyền</span></a
            >
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
