<!-- <nz-spin nzTip="Đang tải..." [nzSpinning]="isLoading" [formGroup]="formValidation"> -->
<div class="task-row-table-header">
  <div class="p-1">
    <nz-page-header>
      <nz-page-header-title>
        <nz-space [nzSize]="8">
          <button
            *nzSpaceItem
            nz-button
            nzType="default"
            (click)="collapsedTask()"
          >
            <ng-container *ngIf="isCollapsedTable; else iconCollapsedTpl">
              <span
                nz-icon
                class="icon-custom"
                nzType="caret-right"
                nzTheme="outline"
              ></span>
            </ng-container>
            <ng-template #iconCollapsedTpl>
              <span
                nz-icon
                class="icon-custom"
                nzType="caret-down"
                nzTheme="outline"
              ></span>
            </ng-template>
          </button>
          <div *nzSpaceItem>
            <!-- <p>{{ title }}</p> -->

            <p [hidden]="isEdit" (click)="startEdit()">{{ title }}</p>

            <input
              class="sectionName"
              [hidden]="!isEdit"
              nz-input
              (keyup.enter)="editSection()"
              (blur)="editSection()"
              [value]="title"
            />
          </div>
        </nz-space>
      </nz-page-header-title>

      <ng-template #iconCustomizeTmpl>
        <ng-container *ngIf="isCollapsedTable; else iconCollapsedTpl">
          <span nz-icon nzType="caret-right" nzTheme="outline"></span>
        </ng-container>
        <ng-template #iconCollapsedTpl>
          <span nz-icon nzType="caret-down" nzTheme="outline"></span>
        </ng-template>
      </ng-template>
    </nz-page-header>
  </div>

  <ng-container *ngIf="isCollapsedTable; else collapsedTplTask"> </ng-container>
  <ng-template #collapsedTplTask>
    <nz-spin nzTip="Đang tải..." [nzSpinning]="isLoading">
      <div class="p-1">
        <div class="table-responsive-task-row" [formGroup]="formValidation">
          <table
            class="table"
            cdkDropList
            (cdkDropListDropped)="onDrop($event)"
            formArrayName="taskArray"
          >
            <tbody
              *ngFor="let item of taskArray.controls; index as idx"
              cdkDrag
              cdkDragLockAxis="y"
            >
              <ng-container [formGroupName]="idx">
                <ng-container
                  *ngIf="isCollapsedFromParent; else collapsedTemplate"
                >
                  <!-- full column -->
                  <tr>
                    <td class="align-items-center col-11">
                      <div class="d-flex flex-row">
                        <div class="col-1 check-circle-custom">
                          <span
                            nz-icon
                            nzType="check-circle"
                            (click)="markCompleteTask(item)"
                            nzTheme="outline"
                          ></span>
                        </div>

                        <div
                          class="col-8"
                          (mouseover)="mouseOver(item, idx)"
                          (mouseleave)="mouseLeave(item, idx)"
                        >
                          <input
                            type="text"
                            appAutoFocus
                            (keyup.enter)="addTask()"
                            [ngClass]="
                              !item.get('isShow')!.value ? 'input_disabled' : ''
                            "
                            nz-input
                            class="form-control"
                            formControlName="name"
                          />
                        </div>
                        <div class="col-1">
                          <button
                            class="float-right"
                            *ngIf="item.get('numberOfSubTask')!.value > 0"
                            nz-button
                            nzTooltipTitle="Công việc con"
                            nzTooltipPlacement="bottom"
                            nz-tooltip
                            nzType="default"
                            (click)="openSubTask(item, idx)"
                            nzShape="circle"
                          >
                            <span
                              nz-icon
                              nzType="sisternode"
                              nzTheme="outline"
                            ></span>
                            {{ item.get("numberOfSubTask")!.value }}
                          </button>
                        </div>
                        <div class="col-1">
                          <div
                            class="mt-2"
                            *ngFor="let color of tagList; let idx = index"
                            [ngClass]="
                              item.get('tagId')!.value != color.id
                                ? 'd-none'
                                : ''
                            "
                          >
                            <div
                              class="tag"
                              [style.background-color]="
                                color.color != null &&
                                color.color != '' &&
                                color.color != undefined
                                  ? color.color
                                  : 'white'
                              "

                              
                            ></div>
                          </div>
                        </div>

                        <div class="col-1">
                          <button
                            class="float-right"
                            nz-button
                            nzTooltipTitle="Xem chi tiết"
                            nzTooltipPlacement="bottom"
                            nz-tooltip
                            nzType="default"
                            nzShape="circle"
                            (click)="detailTask(item, idx)"
                          >
                            <span nz-icon nzType="eye" nzTheme="outline"></span>
                          </button>
                        </div>
                      </div>
                    </td>
                    <td class="align-items-center col-3-1">
                      <nz-date-picker
                        class="form-control text-center"
                        formControlName="startDate"
                        (nzOnOpenChange)="onOpenChange($event)"
                      ></nz-date-picker>
                    </td>
                    <td class="align-items-center col-3-1">
                      <nz-date-picker
                        class="form-control text-center"
                        formControlName="endDate"
                        (nzOnOpenChange)="onOpenChange($event)"
                      ></nz-date-picker>
                    </td>
                    <td class="text-center align-items-center col-4">
                      {{ item.get("state")!.value | stateTask }}
                    </td>
                  </tr>
                </ng-container>
                <!-- minimum column -->
                <ng-template #collapsedTemplate>
                  <tr (click)="getTask(item, idx)">
                    <td class="align-items-center col-9">
                      <div class="d-flex flex-row">
                        <div class="col-1 check-circle-custom">
                          <span
                            nz-icon
                            nzType="check-circle"
                            (click)="markCompleteTask(item)"
                            nzTheme="outline"
                          ></span>
                        </div>

                        <div
                          class="col-7"
                          (mouseover)="mouseOver(item, idx)"
                          (mouseleave)="mouseLeave(item, idx)"
                        >
                          <input
                            type="text"
                            appAutoFocus
                            (keyup.enter)="addTask()"
                            [ngClass]="
                              !item.get('isShow')!.value ? 'input_disabled' : ''
                            "
                            nz-input
                            class="form-control"
                            formControlName="name"
                          />
                        </div>
                        <div class="col-2">
                          <button
                            class="float-right"
                            *ngIf="item.get('numberOfSubTask')!.value > 0"
                            nz-button
                            nzTooltipTitle="Công việc con"
                            nzTooltipPlacement="bottom"
                            nz-tooltip
                            nzType="default"
                            (click)="openSubTask(item, idx)"
                            nzShape="circle"
                          >
                            <span
                              nz-icon
                              nzType="sisternode"
                              nzTheme="outline"
                            ></span>
                            {{ item.get("numberOfSubTask")!.value }}
                          </button>
                        </div>
                      </div>
                    </td>
                    <td class="align-items-center col-4">
                      <nz-date-picker
                        class="form-control text-center"
                        formControlName="endDate"
                        (nzOnOpenChange)="onOpenChange($event)"
                      ></nz-date-picker>
                    </td>
                  </tr>
                </ng-template>

                <tr *ngIf="item.get('isSubTask')!.value">
                  <ng-container
                    *ngIf="item.get('subTask') && item.get('subTask')?.value"
                  >
                    <td [attr.colspan]="!isCollapsed ? 2 : 5">
                      <app-task-sub-table [taskId]="item.get('id')?.value">

                      </app-task-sub-table>
                      <!-- <nz-card class="table-subTask">
                        <nz-table
                          #basicTable
                          [nzData]="item.get('subTask')!.value"
                          [nzShowPagination]="false"
                        >
                          <thead>
                            <tr>
                              <thead>
                                <th class="text-center">Tên</th>
                                <th class="text-center">Ngày bắt đầu</th>
                                <th class="text-center">Ngày kết thúc</th>
                                <th class="text-center">Trạng thái</th>
                              </thead>
                            </tr>
                          </thead>
                          <tbody>
                            <tr
                              *ngFor="
                                let sub of basicTable.data;
                                index as idxSub
                              "
                            >
                              <td class="text-center">
                                <a (click)="subTaskInfo(idx, idxSub)">
                                  {{ sub.name }}
                                </a>
                              </td>
                              <td class="text-center">
                                {{ sub.startDate | date : "dd/MM/yyyy" }}
                              </td>
                              <td class="text-center">
                                {{ sub.endDate | date : "dd/MM/yyyy" }}
                              </td>
                              <td class="text-center">
                                {{ sub.state | stateTask }}
                              </td>
                            </tr>
                          </tbody>
                        </nz-table>
                      </nz-card> -->
                    </td>
                  </ng-container>
                </tr>
              </ng-container>
            </tbody>
          </table>
          <table class="table">
            <tbody>
              <tr class="task-table-button" (click)="addTask()">
                <td colspan="4">
                  <div>Thêm Công việc...</div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </nz-spin>
  </ng-template>
</div>
<!-- </nz-spin> -->
