:host {
  font-size: 12px;
//   overflow-y: auto;
}

.task-row-table-header {
  display: flex;
  flex-direction: column;

  button {
    border-radius: 6px;
    border: white;
    background-color: white;
  }

  p {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
  }

  button:hover {
    cursor: pointer;
    background-color: #f9f8f8;
  }

}

.toggle-detail {
  // width: calc(100vw - 726px) !important;
}

.table td,
.table th {
  padding: 0.3rem;
}

.table-responsive-task-row {
//   width: 100%;
//   height: 100%;
//   table > thead > th {
//     position: -webkit-sticky; // this is for all Safari (Desktop & iOS), not for Chrome
//     position: sticky;
//     top: 0;
//     z-index: 1; // any positive value, layer order is global
//     background: #fff; // any bg-color to overlap
//   }

  tbody > tr:hover {
    cursor: pointer;
  }

  tbody tr > td .check-circle-custom > span > svg {
    margin-top: 6px;
    font-size: 18px;
  }


}

::ng-deep .table-subTask {
  width: 100%;
}

.tag {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0 1px 1px #0003, 0 1px 1px 1px #00000024, 0 1px 1px 1px #0000001f;
}
