<ng-container *ngIf="isDialog else tmplUploadFile">
    <nz-upload nzType="drag" [nzMultiple]="true" (nzChange)="handleChange($event)" [nzBeforeUpload]="beforeUpload"
        [(nzFileList)]="fileList" [nzShowUploadList]="showUploadList" [nzFileListRender]="tmplFileList">
        <p class="ant-upload-drag-icon">
            <span nz-icon nzType="inbox"></span>
        </p>
        <p class="ant-upload-text">Click hoặc kéo thả file vào vùng upload</p>
        <p class="ant-upload-hint">
            Hỗ trợ upload 1 file hoặc nhiều file
        </p>
        <!-- <ng-container *ngIf="!uploading else percentage">

        </ng-container> -->
    </nz-upload>

</ng-container>
<ng-template #tmplUploadFile>
    <nz-upload nzType="drag" [nzMultiple]="true" (nzChange)="handleChange($event)" [nzBeforeUpload]="beforeUpload"
        [(nzFileList)]="fileList" [nzAction]="urlBase" [nzShowUploadList]="showUploadList">
        <p class="ant-upload-drag-icon">
            <span nz-icon nzType="inbox"></span>
        </p>
        <p class="ant-upload-text">Click hoặc kéo thả file vào vùng upload</p>
        <p class="ant-upload-hint">
            Hỗ trợ upload 1 file hoặc nhiều file
        </p>
    </nz-upload>
</ng-template>

<!-- <ng-template #percentage>
    <span>{{progress}}</span>
</ng-template> -->

<ng-template #tmplFileList let-list>
    <!-- <ul nz-list nzSize="small">
        <li nz-list-item *ngFor="let item of list" nzNoFlex>
            <span nz-icon nzType="download" nzTheme="outline"></span>
            <ul nz-list-item-actions>
                <nz-list-item-action>
                    <span nz-icon (click)="removeFile(item)" nzType="delete" nzTheme="outline"></span>
                </nz-list-item-action>
            </ul>
            {{ item.name }}
        </li>
    </ul> -->
    <nz-list nzSize="small">
        <nz-list-item *ngFor="let item of list">
            <button nz-button nzType="default" (click)="downloadFile(item)">Tải xuống</button>
            <span class="text-left">
                {{item.name}}
            </span>
            <button nz-button nzType="default" (click)="removeFile(item)">Xóa</button>
        </nz-list-item>

    </nz-list>
    <!-- <div class="ant-upload-list-item-info">
        <span class="ant-upload-span">
            <div class="ant-upload-text-icon">
                <span nz-icon=""></span>
            </div>
            <span class="ant-upload-list-item-name ng-tns-c224-102 ng-star-inserted"
                title="godaddy-microbusiness-density-forecasting.zip">
                godaddy-microbusiness-density-forecasting.zip </span>
            <span class="ng-tns-c224-102 ant-upload-list-item-card-actions ng-star-inserted">
                <button type="button" nz-button="" nztype="text" nzsize="small"
                    class="ant-btn ant-upload-list-item-card-actions-btn ng-tns-c224-102 ant-btn-text ant-btn-sm ant-btn-icon-only ng-star-inserted"
                    ng-reflect-nz-type="text" ng-reflect-nz-size="small" title="Gỡ bỏ tập tin">
                    <span nz-icon="" nztype="delete" ng-reflect-nz-type="delete"
                        class="anticon anticon-delete"></span></button>
            </span>
        </span>
    </div> -->
</ng-template>