::ng-deep {
  .ant-modal-body {
    padding: 7px;
  }

  .progress-bar {
    z-index: 2;
    height: 30px;
    width: 100px;
    align-items: center;
    margin-top: 20%;
    margin-bottom: 20%;
  }
}

.modal-header-custom,
.modal-content,
.modal-footer-custom {
  border: none !important;
}

.modal-header-custom {
  display: flex;
  flex-direction: row-reverse;
}

.modal-footer-custom {
  display: flex;
  justify-content: center;
}

.modal-custom {
  //   min-width: 100% !important;
  // min-height: 120% !important;
  // width: 100% !important;
  display: flex;
  flex-direction: column;
}

.tag-wrapper {
  padding: 20px;
}

.test {
  border: 1px solid #000;
  height: 300px;
}

.grid-box-color {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 4px;
  margin-bottom: 8px;
}

.color-box {
  box-sizing: border-box;
  border-radius: 3px;
  border: 2px transparent solid;
  height: 32px;
  cursor: pointer;
}

.grid-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.delete-grid-item {
  position: absolute;
  width: 5px;
  height: 5px;
  right: 15px;
  top: 10px
}
