.report-wrapper {
  width: 100%;
  padding: 0 48px;
  margin-bottom: 48px;

  .report-header {

    nz-select {
      margin: 0 8px 10px 0;
      width: 25%;
    }

    .filter {
      ::ng-deep .anticon svg {
        margin-bottom: 5px;
      }
    }
  }

  .report-advanced-filter {
    nz-range-picker {
      width: 50.6%;
    }
  }

  .report-detail {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;

    .card-detail {
      width: 100%;
      display: inline-flex;
      gap: 25px;

      .card-item {
        width: 33%;
        height: 200px;
        border: 1px solid #edeae9 !important;
        border-radius: 8px;

        ::ng-deep .ant-card-body {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 100%;
          width: 100%;

          h4 {
            font-size: 20px;
            line-height: 28px;
            font-weight: 400;
          }

          span {
            font-size: 48px;
            line-height: 56px;
            font-weight: 300;
          }
        }
      }
    }

    .chart-detail {
      width: 100%;
      display: inline-flex;
      gap: 25px;

      .chart-item {
        width: 50%;
        height: 450px;
        border: 1px solid #edeae9 !important;
        border-radius: 8px;
        display: flex;
        justify-content: center;
      }
    }
  }
}
