<div class="project-wrapper" *ngIf="outlet.isActivated == false">
  <div class="container">
    <div class="row">
      <div class="tool" style="width: 100%; margin-top: 1.5em">
        <button nz-button (click)="onCreate()"
        *ngIf="hasPermission.hasPermission({menu: 'project', action: 'create'})"
        >Thêm mới dự án</button>
        <button
          nz-button
          nzDanger
          style="margin-left: 10px"
          (click)="onDeleteAll(listId)"
          *ngIf="hasPermission.hasPermission({menu: 'project', action: 'delete'})"
        >
          Xóa tất cả
        </button>
        <button
          nz-button
          nz-dropdown
          nzTrigger="click"
          [nzDropdownMenu]="sort"
          class="d-flex align-items-center ml-auto mr-2"
        >
          <i nz-icon nzType="sort-ascending" nzTheme="outline"></i>
          {{ SorterDisplay }}
        </button>
        <nz-dropdown-menu #sort="nzDropdownMenu">
          <ul nz-menu nzSelectable>
            <li
              *ngFor="let item of sortField; let idx = index"
              nz-menu-item
              (click)="getSorterValue(idx)"
            >
              {{ item }}
            </li>
          </ul>
        </nz-dropdown-menu>
        <button
          nz-button
          nz-dropdown
          nzTrigger="click"
          [nzDropdownMenu]="filter"
          class="d-flex align-items-center mr-2"
        
        >
          <i nz-icon nzType="filter" nzTheme="outline"></i>
          {{ FilterDisplay }}
        </button>
        <nz-dropdown-menu #filter="nzDropdownMenu">
          <ul nz-menu nzSelectable>
            <li
              *ngFor="let item of filterField; let idx = index"
              nz-menu-item
              (click)="getFilterValue(idx)"
            >
              {{ item }}
            </li>
          </ul>
        </nz-dropdown-menu>
        <nz-input-group class="search" [nzSuffix]="suffixIconSearch">
          <input
            id="search"
            type="text"
            nz-input
            placeholder="Nhập từ tìm kiếm"
            (keyup.enter)="search()"
          />
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <i
            style="cursor: pointer"
            (click)="search()"
            nz-icon
            nzType="search"
          ></i>
        </ng-template>
      </div>
      <nz-table
        class="table"
        nzBordered
        nzShowPagination="false"
        [nzData]="listData"
        style="width: 100%; margin-top: 1.5em"
      >
        <thead>
          <tr>
            <th nzAlign="center">
              <label
                nz-checkbox
                [ngModel]="checkedBoxAll"
                (ngModelChange)="checkedAll($event)"
              ></label>
            </th>
            <th nzAlign="center">STT</th>
            <th nzAlign="center">Tên</th>
            <th nzAlign="center">Doanh thu</th>
            <!-- <th nzAlign="center">Sub-Project</th> -->
            <th nzAlign="center">Hành động</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let item of listData; let idx = index">
            <tr>
              <td nzAlign="center">
                <label
                  nz-checkbox
                  [ngModel]="item.isChecked"
                  (ngModelChange)="isChecked($event, idx)"
                ></label>
              </td>
              <td nzAlign="center">
                {{ idx + 1 }}
              </td>
              <td nzAlign="center">
                <!-- <span
                  style="cursor: pointer"
                  [routerLink]="['project-task', item.id]"
                  >{{ item.name }}</span
                > -->
                <a
                  style="cursor: pointer"
                  nz-tooltip
                  [nzTooltipTitle]="item.name"
                  [nzTooltipTrigger]="item.name.length > 20 ? 'hover' : null"
                  [routerLink]="['/pages/task/project-task', item.id]"
                  >{{
                    item.name.length > 20
                      ? (item.name | slice : 0 : 20) + "..."
                      : item.name
                  }}</a
                >
              </td>
              <td nzAlign="center">
                {{ item.revenue | currency : "VND" : "đ" : "" : "vi" }}
              </td>
              <!-- <td nzAlign="center">

              </td> -->
              <td class="d-flex flex-row justify-content-center">
                <!-- <button
                  nz-button
                  nzShape="circle"
                  class="d-flex align-items-center justify-content-center mr-1"
                  [routerLink]="['welcome', item.id]"
                >
                  <i nz-icon nzType="link" nzTheme="outline"></i>
                </button> -->
                <button
                  nz-button
                  nzShape="circle"
                  nz-tooltip
                  nzTooltipTitle="Xem dự án"
                  class="d-flex align-items-center justify-content-center mr-1"
                  (click)="onView(item)"
                  *ngIf="hasPermission.hasPermission({menu: 'project', action: 'view'})"
                >
                  <i nz-icon nzType="eye" nzTheme="outline"></i>
                </button>
                <button
                  nz-button
                  nzShape="circle"
                  nz-tooltip
                  nzTooltipTitle="Chỉnh sửa dự án"
                  *ngIf="hasPermission.hasPermission({menu: 'project', action: 'update'})"
                  class="d-flex align-items-center justify-content-center mr-1"
                  (click)="onUpdate(item)"
                >
                  <i nz-icon nzType="edit" nzTheme="outline"></i>
                </button>
                <button
                  nz-button
                  nzShape="circle"
                  nz-tooltip
                  nzTooltipTitle="Xem dự án con"
                  *ngIf="hasPermission.hasPermission({menu: 'project', action: 'view'})"
                  class="d-flex align-items-center justify-content-center mr-1"
                  (click)="showSubProject(idx)"
                >
                  <i nz-icon nzType="sisternode" nzTheme="outline"></i>
                </button>
                <button
                  nz-button
                  nzShape="circle"
                  nz-tooltip
                  nzTooltipTitle="Xem timeline"
                  class="d-flex align-items-center justify-content-center mr-1"
                  *ngIf="hasPermission.hasPermission({menu: 'project', action: 'view'})"
                  [routerLink]="['/pages/project/timeline', {id: item.id, name: item.name}]"
                >
                  <i nz-icon nzType="field-time" nzTheme="outline"></i>
                </button>
                <button
                  nz-button
                  nzShape="circle"
                  nz-tooltip
                  nzTooltipTitle="Xóa dự án"
                  class="d-flex align-items-center justify-content-center mr-1"
                  (click)="onDelete(item.id)"
                  *ngIf="hasPermission.hasPermission({menu: 'project', action: 'delete'})"
                >
                  <i nz-icon nzType="delete" nzTheme="outline"></i>
                </button>
              </td>
            </tr>
            <tr [hidden]="!this.listData[idx].isShow">
              <td class="p-1" colspan="5">
                <nz-card class="subProject">
                  <nz-table
                    #basicTable
                    [nzData]="subProjectList"
                    [nzShowPagination]="false"
                  >
                    <thead>
                      <tr>
                        <thead>
                          <th class="text-center">Tên</th>
                          <th class="text-center">Ngày bắt đầu</th>
                          <th class="text-center">Ngày kết thúc</th>
                        </thead>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        *ngFor="let sub of subProjectList; index as idxSub"
                        [hidden]="sub.parentId != listData[idx].id"
                      >
                        <td class="text-center">{{ sub.name }}</td>
                        <td class="text-center">
                          {{ sub.startDate | date : "dd/MM/yyyy" }}
                        </td>
                        <td class="text-center">
                          {{ sub.endDate | date : "dd/MM/yyyy" }}
                        </td>
                      </tr>
                    </tbody>
                  </nz-table>
                </nz-card>
              </td>
            </tr>
          </ng-container>

          <!-- <tr *ngIf="" *ngFor="let sub of ">

          </tr> -->
        </tbody>
      </nz-table>
      <div class="paging">
        <nz-pagination
          (nzPageIndexChange)="changePageNumber($event)"
          (nzPageSizeChange)="changePageSize($event)"
          [(nzPageIndex)]="pageNumber"
          [nzTotal]="totalElements"
          nzShowSizeChanger
          [(nzPageSize)]="pageSize"
          [nzShowTotal]="total"
        >
        </nz-pagination>
        <ng-template #total let-total>Tổng số: {{ totalElements }}</ng-template>
      </div>
    </div>
  </div>
</div>

<router-outlet #outlet="outlet"></router-outlet>
