.modal-content {
  border: none;

  p {
    margin: 0;
  }
}

.modal-custom .ant-modal-title {
  display: flex;
  justify-content: center;
  font-weight: bold;
  text-transform: uppercase;
}

.modal-footer {
  display: flex;
  justify-content: center;
}
