<ng-container *ngIf="!isCollapsed">
  <!-- <div *ngIf="!isCollapsed"> -->
  <div class="wrapper" [formGroup]="formValidation">
    <div class="task-detail-header mt-1 mb-3">
      <div class="col-6 p-2 d-flex">
        <button
          nz-button
          class="float-left"
          nzType="default"
          (click)="markCompleted()"
        >
          <span nz-icon nzType="check" nzTheme="outline"></span>
          <ng-container *ngIf="isCompleted"> Hoàn thành </ng-container>
          <ng-container *ngIf="!isCompleted"> Chưa hoàn thành </ng-container>
        </button>
        <nz-form-item>
          <div
            [hidden]="tagId === null || tagId === 0 || tagId === undefined"
            [style.background]="tagList.color"
            class="tag"
            nz-tooltip
            [nzTooltipTitle]="tagList.name"
          ></div>
        </nz-form-item>
      </div>
      <div class="col-6 p-2">
        <div class="d-flex flex-row float-right">
          <nz-badge [nzCount]="files.length" [nzOffset]="[-10, 1]">
            <button
              nz-button
              class="mr-2"
              nzTooltipTitle="Đính kèm file"
              nzTooltipPlacement="bottom"
              nz-tooltip
              nzType="default"
              (click)="uploadFile()"
            >
              <span nz-icon nzType="file-add" nzTheme="outline"></span>
            </button>
          </nz-badge>

          <nz-badge [nzCount]="subTask.controls.length" [nzOffset]="[-10, 1]">
            <button
              nz-button
              class="mr-2"
              nzTooltipTitle="Thêm subtask"
              nzTooltipPlacement="bottom"
              nz-tooltip
              nzType="default"
              (click)="addSubTask()"
            >
              <span nz-icon nzType="subnode" nzTheme="outline"></span>
            </button>
          </nz-badge>
          <button
          nz-button
          class="mr-2"
          nzTooltipTitle="Lưu"
          nzTooltipPlacement="bottom"
          nz-tooltip
          nzType="default"
          (click)="saveForm()"
        >
          <span nz-icon nzType="save" nzTheme="outline"></span>
        </button>
          <button
            nz-button
            class="mr-2"
            nzTooltipTitle="Mở rộng"
            nzTooltipPlacement="bottom"
            nz-tooltip
            nzType="default"
            (click)="fullScreen()"
          >
            <span nz-icon nzType="fullscreen" nzTheme="outline"></span>
          </button>
          <button
            nz-button
            nz-dropdown
            nzTrigger="click"
            class="mr-2"
            nzTooltipTitle="Tính năng khác"
            nzTooltipPlacement="bottom"
            nz-tooltip
            nzType="default"
            [nzDropdownMenu]="menuFeature"
          >
            <span nz-icon nzType="more" nzTheme="outline"></span>
            <nz-dropdown-menu #menuFeature="nzDropdownMenu">
              <ul class="dropdown_menu" nz-menu>
                <li nz-menu-item>
                  <a (click)="deleteTask()">
                    <span nz-icon nzType="delete" nzTheme="outline"></span>
                    Xóa công việc
                  </a>
                </li>
                <li nz-menu-item>
                  <a (click)="addTag()">
                    <span nz-icon nzType="tag" nzTheme="outline"></span>
                    Gắn tag công việc
                  </a>
                </li>
              </ul>
            </nz-dropdown-menu>
          </button>
          <button
            nz-button
            nzType="default"
            nzTooltipTitle="Đóng"
            nzTooltipPlacement="bottom"
            nz-tooltip
            (click)="close()"
          >
            <span nz-icon nzType="close" nzTheme="outline"></span>
          </button>
        </div>
      </div>
    </div>
    <div class="task-detail-content pr-3">
      <!-- row 1 -->
      <div nz-row [nzGutter]="1">
        <div nz-col [nzSpan]="24">
          <nz-form-item nz-row [nzGutter]="1">
            <!-- <nz-form-label class="align-items-center" [nzSpan]="24">
                          <h4 class="pl-2 pt-2">{{formValidation.get('name')!.value}}</h4>
                      </nz-form-label> -->
            <nz-form-control [nzSpan]="24">
              <input
                class="task-detail-name"
                (mouseover)="mouseOver($event)"
                (mouseleave)="mouseLeave($event)"
                [ngClass]="!isShow ? 'input_disabled' : ''"
                nz-input
                formControlName="name"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <!-- end row 1 -->

      <!-- row 2 -->
      <div nz-row [nzGutter]="1">
        <div nz-col [nzSpan]="24">
          <nz-form-item nz-row [nzGutter]="1">
            <nz-form-label [nzSpan]="4"> Phụ trách </nz-form-label>
            <nz-form-control [nzSpan]="20">
              <!-- <input nz-input class="input_disabled" name="assignee" disabled /> -->
              <nz-select
              nzShowSearch
              nzAllowClear
              nzMode="multiple"
              formControlName="assignee"
              nzPlaceHolder="Nhập tên"
            >
              <nz-option
                [nzLabel]="value.name"
                [nzValue]="value.id"
                *ngFor="let value of listMember"
              ></nz-option>
            </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <!-- end row 2 -->

      <!-- row 3 -->
      <div nz-row [nzGutter]="1">
        <div nz-col [nzSpan]="24">
          <nz-form-item nz-row [nzGutter]="1">
            <nz-form-label [nzSpan]="4"> Thời hạn </nz-form-label>
            <nz-form-control [nzSpan]="20">
              <nz-date-picker
                (nzOnOpenChange)="onOpenChange($event)"
                formControlName="endDate"
              ></nz-date-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <!-- end row 4 -->

      <!-- row 2 -->
      <div nz-row [nzGutter]="1">
        <div nz-col [nzSpan]="24">
          <nz-form-item nz-row [nzGutter]="1">
            <nz-form-label [nzSpan]="4"> Dự án </nz-form-label>
            <nz-form-control [nzSpan]="20">
              <nz-select
                nzShowSearch
                nzAllowClear
                formControlName="projectId"
                nzPlaceHolder="Lựa chọn dự án"
              >
                <nz-option
                  [nzLabel]="value.name"
                  [nzValue]="value.id"
                  *ngFor="let value of listProject"
                ></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <!-- end row 2 -->

      <!-- row 4 -->
      <div nz-row [nzGutter]="1">
        <div nz-col [nzSpan]="24">
          <nz-form-item nz-row [nzGutter]="1">
            <nz-form-label [nzSpan]="4"> Mô tả </nz-form-label>
            <nz-form-control [nzSpan]="20">
              <textarea
                nz-input
                rows="2"
                placeholder="Mô tả"
                formControlName="description"
                name="description"
              ></textarea>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <!-- end row 4 -->

      <!-- row 5 -->
      <div nz-row [nzGutter]="1">
        <div nz-col [nzSpan]="24">
          <nz-form-item nz-row [nzGutter]="1">
            <nz-form-label [nzSpan]="4"> Ghi chú </nz-form-label>
            <nz-form-control [nzSpan]="20">
              <textarea
                nz-input
                rows="2"
                placeholder="Ghi chú"
                formControlName="note"
                name="note"
              ></textarea>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <!-- end row 5 -->

      <!-- row 6 -->
      <div nz-row [nzGutter]="1">
        <div nz-col [nzSpan]="24">
          <nz-form-item nz-row [nzGutter]="1">
            <nz-form-label [nzSpan]="4"> Vướng mắc </nz-form-label>
            <nz-form-control [nzSpan]="20">
              <textarea
                nz-input
                rows="2"
                placeholder="Vướng mắc"
                formControlName="problem"
                name="problem"
              ></textarea>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <!-- end row 6 -->

      <!-- row 7 -->
      <div nz-row [nzGutter]="1">
        <div nz-col [nzSpan]="24">
          <nz-form-item nz-row [nzGutter]="1">
            <nz-form-label [nzSpan]="4"> Giải pháp </nz-form-label>
            <nz-form-control [nzSpan]="20">
              <textarea
                nz-input
                rows="2"
                placeholder="Giải pháp"
                formControlName="solution"
                name="solution"
              ></textarea>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <!-- end row 7 -->

      <!-- row 8 -->
      <div nz-row [nzGutter]="2">
        <div nz-col [nzSpan]="6">
          <div class="p-2">
            <button
              nz-button
              class="float-left d-flex align-items-center"
              nzType="primary"
              nzTooltipTitle="Thêm subtask"
              nzTooltipPlacement="bottom"
              nz-tooltip
              (click)="addSubTask()"
            >
              <span nz-icon nzType="plus" nzTheme="outline"></span>
              <span>subtask</span>
            </button>
          </div>
        </div>
      </div>
      <!-- end row 8 -->

      <!-- row 9 -->
      <div nz-row [nzGutter]="1">
        <div
          nz-col
          [nzSpan]="24"
          class="task-detail-subtask"
          *ngIf="subTask && subTask.controls.length > 0"
        >
          <div class="ml-2 mt-2" formArrayName="subTask">
            <div class="table-responsive">
              <table class="table">
                <tbody>
                  <tr *ngFor="let item of subTask.controls; index as idx">
                    <ng-container [formGroupName]="idx">
                      <td class="align-items-center sub-task-items">
                        <!-- <input type="text" class="form-control input_disabled"
                                                  formControlName="name"> -->
                        <span style="cursor: text;">{{ item.get("name")!.value }}</span>
                      </td>
                    </ng-container>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- end row 9 -->
    </div>
  </div>

  <div class="task-detail-footer"></div>
  <!-- </div> -->
</ng-container>
