<td class="align-items-center col-8">
    <div class="d-flex flex-row">
        <div class="col-8" (mouseover)="mouseOver(item)"
            (mouseleave)="mouseLeave(item)" >
            <input type="text" (click)="detectClickEvent()" 
                appAutoFocus (keyup.enter)="addTask()"
                [ngClass]="!(item.get('isShow')!.value) ? 'input_disabled' : ''" nz-input
                class="form-control" formControlName="name">
        </div>
        <ng-container *ngIf="isCollapsed">
            <div class="col-4">
                <button class="float-right" nz-button nzTooltipTitle="Xem chi tiết"
                    nzTooltipPlacement="bottom" nz-tooltip nzType="default" nzShape="circle"
                    (click)="detailTask()">
                    <span nz-icon nzType="eye" nzTheme="outline"></span>
                </button>
            </div>
        </ng-container>
    </div>
</td>
<ng-template [ngIf]="!isCollapsed" [ngIfElse]="collapsedTemplate">
    <td class="align-items-center col-5">
        <nz-date-picker class="form-control" formControlName="endDate"
            (nzOnOpenChange)="onOpenChange($event)"></nz-date-picker>
    </td>
</ng-template>
<ng-template #collapsedTemplate>
    <td class="align-items-center col-5">
        <nz-date-picker class="form-control" formControlName="startDate"
            (nzOnOpenChange)="onOpenChange($event)"></nz-date-picker>
    </td>
    <td class="align-items-center col-5">
        <nz-date-picker class="form-control" formControlName="endDate"
            (nzOnOpenChange)="onOpenChange($event)"></nz-date-picker>
    </td>
    <td class="text-center align-items-center col-5">
        {{item.get('status')!.value}}
    </td>
</ng-template>