<div class="role-detail-wrapper">
  <div class="collapse-wrapper" *ngFor="let item of listData; let idx = index">
    <nz-collapse>
      <nz-collapse-panel nzHeader="{{ item.code }}" nzActive="true">
        <div class="checkUncheck">
          <label
            nz-checkbox
            [ngModel]="checkedBoxAll"
            (ngModelChange)="checkedAll($event)"
          >
            Checked / Unchecked</label
          >
        </div>
        <!-- <div class="checkbox">
          <label *ngFor="let item of listData; let idx = index" nz-checkbox>{{
            item.name
          }}</label>
        </div> -->
        <nz-checkbox-wrapper style="width: 100%">
          <div nz-row>
            <div nz-col nzSpan="12">
              <label
                nz-checkbox
                [ngModel]="item.isChecked"
                (ngModelChange)="isChecked($event, idx)"
                style="line-height: 1.5"
                >{{ item.name }}</label
              >
            </div>
          </div>
        </nz-checkbox-wrapper>
      </nz-collapse-panel>
    </nz-collapse>
  </div>

  <!-- <div class="collapse-wrapper">
    <nz-collapse>
      <nz-collapse-panel nzHeader="Test 2" nzActive="true">
        <p>Test 2</p>
      </nz-collapse-panel>
    </nz-collapse>
  </div> -->
</div>
