<div class="role-detail-wrapper">
  <div
    class="collapse-wrapper"
    *ngFor="let item of listParent; let idx = index"
  >
    <nz-collapse>
      <nz-collapse-panel nzHeader="{{ item.code }}" nzActive="true">
        <div class="checkUncheck">
          <label
            nz-checkbox
            [ngModel]="checkedBoxAll"
            (ngModelChange)="checkedAll(idx, $event)"
          >
            Checked / Unchecked</label
          >
        </div>
        <!-- <div class="checkbox">
          <label *ngFor="let item of listData; let idx = index" nz-checkbox>{{
            item.name
          }}</label>
        </div> -->
        <div nz-row>
          <div
            class="my-2"
            style="width: 50%"
            *ngFor="let child of listChild; let cursor = index"
            [hidden]="child.parentCode !== listParent[idx].code"
          >
            <label
              *ngIf="child.parentCode === listParent[idx].code"
              nz-checkbox
              [(ngModel)]="child.isChecked"
              (ngModelChange)="isChecked($event, cursor)"
              style="line-height: 1.5"
              >{{ child.name }}</label
            >
          </div>
        </div>
      </nz-collapse-panel>
    </nz-collapse>
  </div>

  <button nz-button (click)="onCreate()">Save</button>
</div>
