h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.profile-wrapper {
  padding: 40px;
  padding-right: 80px;

  .profile-header{
    display: flex;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 80px;
  }
}

.ban {
  cursor: no-drop;
}

.wrapper {
  width: 800px;
  height: calc(100% - 144px);
  border-radius: 3px;
}

.ant-modal-title {
  display: flex;
  justify-content: center;
  font-weight: bold;
  text-transform: uppercase;
}

.modal-content {
  display: grid;
  grid-template-rows: none;
  border: none;
}

.invalid-data {
  border: 1px solid red;
}
