* {
  font-size: 16px;
}

:host ::ng-deep .ant-collapse-arrow svg {
  margin-bottom: 5px;
}

:host ::ng-deep .ant-collapse-content-box:has(>.test) {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.role-detail-wrapper {
  padding: 40px;

  .collapse-wrapper {
    margin: 30px 0;

    // .checkUncheck {
    //   display: flex;
    //   justify-content: end;
    //   margin-bottom: 5px;

    //   span {
    //     transition: 0.3s all ease-in-out;
    //   }

    //   span:hover {
    //     color: #f48120;
    //     transition: 0.3s all ease-in-out;
    //   }
    // }
  }
}
