@import "../../../../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../../../../node_modules/ng-zorro-antd/ng-zorro-antd.min.css";

// variables
$sidebar_width: 20% !default;
$header_height: 64px !default;
$breadcrumb_height: 46px !default;
$footer_height: 64px !default;

@function size($side, $isWidth) {
  @if ($isWidth == "true") {
    @return calc(100vw - $side);
  } @else {
    @return calc(100vh - $side);
  }
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
  // height: 100vh;
  // overflow-y: hidden;

  .page-wrapper {
    display: flex;
    // min-height: 100%;
    height: 100vh;

    .sidebar {
      width: $sidebar_width;
      // width: 0;
      min-height: 100%;
      display: flex;
      background-color: #ff6600;
      transition: all 0.5s;
    }

    internal-app-sidebar {
      width: 100% !important;
    }

    .toggle-sidebar {
      $sidebar_width: 0%;
      transition: all 0.5s;
      width: $sidebar_width;
      overflow: hidden;

      .sidebar-content ul li a[class*="active"] {
        background-color: transparent !important;
      }
    }

    // tính lại %  page-main
    .toggle-sidebar + .page-main {
      $sidebar_width: 0%;
      width: size($sidebar_width, "true");
    }

    .page-main {
      width: size($sidebar_width, "true");
      height: 100%;
      transition: all 0.5s;

      .page-breadcumb {
        height: $breadcrumb_height;

        .breadcrumb {
          background-color: transparent !important;

          a:hover {
            cursor: pointer;
          }
        }
      }

      .page-header {
        height: $header_height;
      }

      .page-footer {
        height: $footer_height;
      }

      .page-content {
        width: 100%;
        // toàn màn trừ header và footer, breadcrumb
        // height: calc(
        //   100vh - $header_height - $footer_height - $breadcrumb_height
        // );
        height: calc(100vh - $header_height);
        overflow: auto;
      }
    }
  }
}
