<!-- header -->
<div class="task_header p-2">
    <div class="p-1">
        <div class="d-flex flex-row">
            <div class="col-md-4">
                <div class="float-left">
                    <button nz-button nzType="primary" (click)="addTask()">
                        <span nz-icon nzType="plus"></span>
                        Thêm công việc
                    </button>
                </div>
            </div>


            <div class="col-md-4 offset-md-4">
                <div class="float-right">
                    <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menuTask">
                        <button nz-button nzType="default">
                            <span nz-icon nzType="check-circle" nzTheme="outline">
                            </span>
                            Chưa hoàn thành
                        </button>
                        <nz-dropdown-menu #menuTask="nzDropdownMenu">
                            <ul class="dropdown_menu" nz-menu>
                                <li nz-menu-item>Đã hoàn thành</li>
                                <li nz-menu-item>Tất cả</li>
                                <li nz-menu-divider></li>
                                <li nz-submenu nzTitle="sub menu">
                                    <ul>
                                        <li nz-menu-item>3rd menu item</li>
                                        <li nz-menu-item>4th menu item</li>
                                    </ul>
                                </li>
                            </ul>
                        </nz-dropdown-menu>
                    </a>

                    <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menuSort">

                        <button nz-button nzType="default">
                            <span nz-icon nzType="sort-ascending" nzTheme="outline"></span>Sắp xếp
                        </button>
                        <nz-dropdown-menu #menuSort="nzDropdownMenu">
                            <ul class="dropdown_menu" nz-menu>
                                <li nz-menu-item>Sort 1</li>
                                <li nz-menu-item>Sort 2</li>
                                <li nz-menu-divider></li>
                                <li nz-submenu nzTitle="sub menu">
                                    <ul>
                                        <li nz-menu-item>3rd menu item</li>
                                        <li nz-menu-item>4th menu item</li>
                                    </ul>
                                </li>
                            </ul>
                        </nz-dropdown-menu>
                    </a>

                </div>
            </div>

        </div>
    </div>

    <div class="p-1">
        <div class="table-responsive-custom-header">
            <table class="table">
                <thead>
                    <th class="text-center col-8">Tên</th>
                    <ng-template [ngIf]="!isCollapsed" [ngIfElse]="collapsedTemplate">
                        <th class="text-center col-5">Ngày kết thúc</th>
                    </ng-template>
                    <ng-template #collapsedTemplate>
                        <th class="text-center col-5">Ngày bắt đầu</th>
                        <th class="text-center col-5">Ngày kết thúc</th>
                        <th class="text-center col-5">Trạng thái</th>
                    </ng-template>
                </thead>
            </table>
        </div>
    </div>

    <!-- content -->
    <div class="p-2">
        <div class="d-flex flex-row">
            <!-- table -->
            <div class="task-table-left" [ngClass]="(!isCollapsed) ? 'task-table-left-toggle':''">

                <app-task-row-table (collapEvent)="collapseEventTaskRow($event)" [title]="'Công việc trong tuần'">

                </app-task-row-table>
                <br />
                <app-task-row-table (collapEvent)="collapseEventTaskRow($event)" [title]="'Kế hoạch tuần sau'">

                </app-task-row-table>
            </div>



            <!-- end table -->

            <!-- detail task -->
            <!-- <app-task-detail (collapEvent)="collapseEvent($event)" [isCollapsed]="isCollapsed"
            (watchChange)="watchChange($event)" [ngClass]="!isCollapsed ? 'toggle-task-detail':''"
            class="task-detail"></app-task-detail> -->
            <!-- <app-task-detail (collapEvent)="collapseEvent($event)" [isCollapsed]="isCollapsed"
             [ngClass]="(!isCollapsed) ? 'toggle-task-detail':''"
            class="task-detail"></app-task-detail> -->
            <!-- end detail task -->


        </div>

    </div>
    <!-- end content -->


</div>
<!-- end header -->

<!-- detail -->
<div class="task-detail p-2" [ngClass]="(!isCollapsed) ? 'toggle-task-detail':''">
    <app-task-detail (collapEvent)="collapseEvent($event)" [isCollapsed]="isCollapsed"
         class=""></app-task-detail>
</div>
<!-- end content -->