$task_detail_width: 0% !default;
$task_detail_height: 500px !default;

:host {
  font-size: 12px;
  overflow-y: hidden;
}

.task_header {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  align-self: flex-start; /* <-- this is the fix */
  top: 0;
  z-index: 1; // any positive value, layer order is global
  background-color: white;
}

.table td,
.table th {
  padding: 0.3rem;
}

.task_header .float-right button {
  margin-right: 4px;
  //   text-align: center;
  //   display: inline-block;
}

::ng-deep {
  .task_header button span > svg {
    margin-bottom: 6px;
  }

  .dropdown_menu {
    margin-top: 10px;
  }
}

::ng-deep {
  tr[class*="task-table-button"]:hover {
    background-color: #d6d4d4;
    cursor: pointer;
  }

  tr[class*="task-table-button"] {
    div {
      padding-left: 12px;
    }
  }

  .task-table-left {
    width: calc(100vw - $task_detail_width);
    height: $task_detail_height;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    .table-responsive-custom-header {
      // width: 100%;
      // height: 0;

      position: -webkit-sticky; // this is for all Safari (Desktop & iOS), not for Chrome
      position: sticky;
      top: 48;
      z-index: 0; // any positive value, layer order is global
      background: #fff; // any bg-color to overlap

      // table > thead > th {
      //   position: -webkit-sticky; // this is for all Safari (Desktop & iOS), not for Chrome
      //   position: sticky;
      //   top: 0;
      //   z-index: 1; // any positive value, layer order is global
      //   background: #fff; // any bg-color to overlap
      // }
    }
  }

  .task-table-left-toggle {
    $task_detail_width: 100%;
    width: calc(100vw - $task_detail_width) !important;
  }

  //  .table-responsive {
  //   width: calc(100vw - $task_detail_width);
  //   height: $task_detail_height;
  //   // table > thead > th {
  //   //   position: -webkit-sticky; // this is for all Safari (Desktop & iOS), not for Chrome
  //   //   position: sticky;
  //   //   top: 0;
  //   //   z-index: 1; // any positive value, layer order is global
  //   //   background: #fff; // any bg-color to overlap
  //   // }

  //   tbody > tr:hover {
  //     cursor: pointer;
  //   }

  //   tbody tr > td .check-circle-custom >span > svg {
  //     margin-top: 6px;
  //     font-size: 18px;
  //   }
  // }

  .task-detail {
    display: flex;
    flex-direction: column;
    width: $task_detail_width;
    // border-left: 1px solid #dee2e6;
    border-top: 1px solid #dee2e6;
    transition: all 0.5s ease-in-out;
  }

  .toggle-task-detail {
    $task_detail_width: 100%;
    // display: flex;
    // flex-direction: column;
    border-left: 1px solid #dee2e6;
    border-top: 1px solid #dee2e6;
    width: $task_detail_width !important;
    transition: all 0.5s ease-in-out;
  }

  app-task-detail {
    height: $task_detail_height;
    overflow-y: auto;
    overflow-x: hidden;
    // transition: all 0.5s ease-in-out;
  }
}
