$task_detail_width: 0% !default;
$task_detail_height: 500px !default;

.task_header {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: static;
}

.task_header .float-right button {
  margin-right: 4px;
  //   text-align: center;
  //   display: inline-block;
}

::ng-deep {
  .task_header button span > svg {
    margin-bottom: 6px;
  }

  .dropdown_menu {
    margin-top: 10px;
  }
}

::ng-deep {
  tr[class*="task-table-button"]:hover {
    background-color: #d6d4d4;
    cursor: pointer;
  }

  tr[class*="task-table-button"] {
    div {
      padding-left: 12px;
    }
  }

  .table-responsive {
    width: calc(100vw - $task_detail_width);
    height: $task_detail_height;
    table > thead > th {
      position: -webkit-sticky; // this is for all Safari (Desktop & iOS), not for Chrome
      position: sticky;
      top: 0;
      z-index: 1; // any positive value, layer order is global
      background: #fff; // any bg-color to overlap
    }



    tbody > tr:hover {
      cursor: pointer;
    }
  }

  .task-detail {
    display: flex;
    flex-direction: column;
    width: $task_detail_width;
    // border-left: 1px solid #dee2e6;
    border-top:  1px solid #dee2e6;
    transition: all 0.5s ease-in-out;
  }

  .toggle-task-detail {
    $task_detail_width: 100%;
    // display: flex;
    // flex-direction: column;
    border-left: 1px solid #dee2e6;
    border-top: 1px solid #dee2e6;
    width: $task_detail_width !important;
    transition: all 0.5s ease-in-out;
  }

  app-task-detail {
    height: $task_detail_height;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
}
