/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/dist/css/bootstrap";

.container::before,
.container::after,
.row::before,
.row::after {
  display: table;
  content: " ";
}

.container::after,
.row::after {
  clear: both;
}
