<div class="member-wrapper" *ngIf="outlet.isActivated == false">
  <div class="container">
    <div class="row">
      <div class="tool" style="width: 100%; margin-top: 1.5em">
        <nz-input-group class="search" [nzSuffix]="suffixIconSearch">
          <input
            id="search"
            type="text"
            nz-input
            placeholder="Nhập từ tìm kiếm"
            (keyup.enter)="search()"
          />
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <span nz-icon nzType="search"></span>
        </ng-template>
        <button nz-button (click)="onCreate()" class="ml-auto mr-2">
          Thêm mới quyền
        </button>
        <button nz-button nzDanger class="mr-2" (click)="onDeleteAll(listId)">
          Xóa tất cả
        </button>
        <button
          nz-button
          (click)="isCollapsed()"
          class="d-flex align-items-center mr-2"
        >
          <i nz-icon nzType="filter" nzTheme="outline"></i>
          <span>Bộ lọc</span>
        </button>
      </div>
      <div class="date-picker-custom mt-3" [hidden]="!isCollapse">
        <nz-date-picker [nzSize]="'default'" class="mr-2"></nz-date-picker>
        <nz-date-picker [nzSize]="'default'"></nz-date-picker>
      </div>
      <nz-table
        class="table"
        nzShowPagination="false"
        [nzData]="listData"
        style="width: 100%; margin-top: 1.5em"
      >
        <thead>
          <tr>
            <th nzAlign="center">
              <label
                nz-checkbox
                [ngModel]="checkedBoxAll"
                (ngModelChange)="checkedAll($event)"
              ></label>
            </th>
            <th nzAlign="center">STT</th>
            <th nzAlign="center">Tên</th>
            <th nzAlign="center">Mã role</th>
            <th nzAlign="center">Hành động</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listData; let idx = index">
            <td nzAlign="center">
              <label
                nz-checkbox
                [ngModel]="item.isChecked"
                (ngModelChange)="isChecked($event, idx)"
              ></label>
            </td>
            <td nzAlign="center">
              {{ idx + 1 }}
            </td>
            <td nzAlign="center">
              <a
                style="cursor: pointer"
                [routerLink]="['/pages/roles-app/roles-app-detail', item.id]"
                >{{ item.name }}</a
              >
            </td>
            <td nzAlign="center">
              {{ item.code }}
            </td>
            <td class="d-flex flex-row justify-content-center">
              <!-- <button
                nz-button
                nzShape="circle"
                class="d-flex align-items-center justify-content-center mr-1"
                [routerLink]="['welcome', item.id]"
              >
                <i nz-icon nzType="link" nzTheme="outline"></i>
              </button> -->
              <button
                nz-button
                nzShape="circle"
                class="d-flex align-items-center justify-content-center mr-1"
                (click)="onView(item)"
              >
                <i nz-icon nzType="eye" nzTheme="outline"></i>
              </button>
              <button
                nz-button
                nzShape="circle"
                class="d-flex align-items-center justify-content-center mr-1"
                (click)="onUpdate(item)"
              >
                <i nz-icon nzType="edit" nzTheme="outline"></i>
              </button>
              <button
                nz-button
                nzShape="circle"
                class="d-flex align-items-center justify-content-center mr-1"
                (click)="onDelete(item.id)"
              >
                <i nz-icon nzType="delete" nzTheme="outline"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </nz-table>
      <div class="paging">
        <nz-pagination
          (nzPageIndexChange)="changePageNumber($event)"
          (nzPageSizeChange)="changePageSize($event)"
          [(nzPageIndex)]="pageNumber"
          [nzTotal]="totalElements"
          nzShowSizeChanger
          [(nzPageSize)]="pageSize"
          [nzShowTotal]="total"
        >
        </nz-pagination>
        <ng-template #total let-total
          >Tổng số: {{ totalElements }}</ng-template
        >
      </div>
    </div>
  </div>
</div>

<router-outlet #outlet="outlet"></router-outlet>
